# WebScraping (selenium) Assignment-1

**Submitted by POOJA C**

# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name,experience_required. You have to scrape first 10 jobs data.

This task will be done in following steps:
- 1. first get the webpage https://www.naukri.com/
- 2. Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.
- 3. Then click the search button.
- 4. Then scrape the data for the first 10 jobs results you get.
- 5. Finally create a dataframe of the scraped data.
Note- All of the above steps have to be done in code. No step is to be done manually.

In [1]:
#installing selenium
!pip install selenium

Requirement already satisfied: selenium in f:\anaconda\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in f:\anaconda\lib\site-packages (from selenium) (1.25.11)

In [2]:
#importing necessary libraries
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.support.ui import WebDriverWait

In [3]:
driver = webdriver.Chrome("chromedriver.exe")

Assigning driver for my chrome browser.

In [4]:
url='https://www.naukri.com/'
driver.get(url)

Running the url and getting chrome browser automatically.

In [5]:
#searching job type
search_job = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[1]/div/div/div/div[1]/div[2]/input')
search_job

Got the web element for searching job using xpath.

In [6]:
search_job.send_keys("Data Analyst")

For searching job sent the key word as Data Analyst.

In [7]:
#searching job location
search_loc = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[2]/div/div/div/div[1]/div[2]/input')
search_loc.send_keys("Bangalore")

Searching location using xpath and sending key word as Bangalore.

In [8]:
search_btn = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[3]/button')
search_btn

Got web element for search button using xpath.

In [9]:
search_btn.click()

Clicking on search button in wed using above code.

In [10]:
#Fetching all urls
urls=[]
for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']"):
    urls.append(i.get_attribute("href"))

In [11]:
urls[:10]

['https://www.naukri.com/job-listings-senior-data-analyst-einstein-analytics-enquero-hyderabad-secunderabad-bangalore-bengaluru-3-to-5-years-100821501382?src=jobsearchDesk&sid=1628760672472139&xp=1&px=1',
 'https://www.naukri.com/job-listings-data-analyst-0-2-years-6-month-contract-nium-india-private-limited-new-delhi-gurgaon-gurugram-chennai-bangalore-bengaluru-mumbai-all-areas-0-to-2-years-100821000191?src=jobsearchDesk&sid=1628760672472139&xp=2&px=1',
 'https://www.naukri.com/job-listings-data-analyst-careerlabs-technologies-private-limited-bangalore-bengaluru-0-to-3-years-110821002383?src=jobsearchDesk&sid=1628760672472139&xp=3&px=1',
 'https://www.naukri.com/job-listings-data-analyst-tata-consultancy-services-ltd-pune-chennai-bangalore-bengaluru-4-to-8-years-110821002380?src=jobsearchDesk&sid=1628760672472139&xp=4&px=1',
 'https://www.naukri.com/job-listings-senior-data-analyst-nx-dt-hyderabad-secunderabad-pune-bangalore-bengaluru-10-to-16-years-110821007423?src=jobsearchDesk&sid=1628760672472139&xp=5&px=1',
 'https://www.naukri.com/job-listings-sql-data-analyst-netapp-india-private-limited-bangalore-bengaluru-3-to-7-years-100821909095?src=jobsearchDesk&sid=1628760672472139&xp=6&px=1',
 'https://www.naukri.com/job-listings-senior-business-analyst-data-science-evalueserve-com-pvt-ltd-bangalore-bengaluru-2-to-7-years-240421003355?src=jobsearchDesk&sid=1628760672472139&xp=7&px=1',
 'https://www.naukri.com/job-listings-business-data-analyst-colleague-experience-technology-vmware-india-bangalore-bengaluru-3-to-8-years-090821501930?src=jobsearchDesk&sid=1628760672472139&xp=8&px=1',
 'https://www.naukri.com/job-listings-senior-data-analyst-telstra-india-pvt-ltd-bangalore-bengaluru-7-to-8-years-110821501369?src=jobsearchDesk&sid=1628760672472139&xp=9&px=1',
 'https://www.naukri.com/job-listings-data-analyst-sql-predictive-analytics-python-ave-promagne-bangalore-bengaluru-1-to-3-years-100821906619?src=jobsearchDesk&sid=1628760672472139&xp=10&px=1']

In [12]:
#fetching the data of Job title:
job_titles=[] #empty list
for i in urls[:10]:
    driver.get(i)
    time.sleep(3)
    try:
        title_tag = driver.find_element_by_xpath("//h1[@class='jd-header-title']")
        job_titles.append(title_tag.text)
    except:
        job_titles.append('-')

In [13]:
job_titles

['Senior Data Analyst - Einstein Analytics',
 'Data Analyst - 0-2 years (6 month contract)',
 'Data Analyst',
 'Data Analyst',
 'Senior Data Analyst',
 '-',
 'Senior Business Analyst- Data Science',
 'Business/Data Analyst - Colleague Experience & Technology',
 'Senior Data Analyst',
 'Data Analyst (SQL+Predictive Analytics+ Python)']

These are the first 10 job titles.

In [14]:
#fetching the data of job locations
job_loc=[] #empty list
for i in urls[:10]:
    driver.get(i)
    time.sleep(3)
    try:
        loc_tag = driver.find_element_by_xpath("//span[@class='location ']//a")
        job_loc.append(loc_tag.text)
    except:
        job_loc.append('-')

In [15]:
job_loc

['Hyderabad/Secunderabad',
 'New Delhi',
 'Bangalore/Bengaluru',
 'Pune',
 'Hyderabad/Secunderabad',
 '-',
 'Bangalore/Bengaluru( Whitefield )',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

These are the first 10 job locations.

In [16]:
#fetching the data of company names
comp_name=[] #empty list
for i in urls[:10]:
    driver.get(i)
    time.sleep(3)
    try:
        comp_tags = driver.find_element_by_xpath("//a[@class='pad-rt-8']")
        comp_name.append(comp_tags.text)
    except:
        comp_name.append('-')

In [17]:
comp_name

['Enquero',
 'NIUM INDIA PRIVATE LIMITED',
 'CAREERLABS TECHNOLOGIES PRIVATE LIMITED',
 'Tata Consultancy Services Ltd.',
 'Nx-DT',
 '-',
 'Evalueserve.com Pvt. Ltd',
 'Vmware',
 'Telstra India Pvt Ltd',
 'AVE-Promagne']

These are the first 10 company names.

In [18]:
#fetching the data of experience required
exp_req=[] #empty list
for i in urls[:10]:
    driver.get(i)
    time.sleep(3)
    try:
        exp_tags = driver.find_element_by_xpath("//div[@class='exp']//span")
        exp_req.append(exp_tags.text)
    except:
        exp_req.append('-')

In [19]:
exp_req

['3 - 5 years',
 '0 - 2 years',
 '0 - 3 years',
 '4 - 8 years',
 '10 - 16 years',
 '-',
 '2 - 7 years',
 '3 - 8 years',
 '7 - 8 years',
 '1 - 3 years']

These are the first 10 experiences.

In [20]:
print(len(job_titles),len(job_loc),len(comp_name),len(exp_req))

10 10 10 10

Checked the length of scraped data.

# DataFraming:

In [21]:
#Creating data frame for scraped data
jobs=pd.DataFrame({})
jobs['Title']=job_titles
jobs['Location']=job_loc
jobs['Company Name']=comp_name
jobs['Experience']=exp_req

In [22]:
jobs

,Title,Location,Company Name,Experience
0,Senior Data Analyst - Einstein Analytics,Hyderabad/Secunderabad,Enquero,3 - 5 years
1,Data Analyst - 0-2 years (6 month contract),New Delhi,NIUM INDIA PRIVATE LIMITED,0 - 2 years
2,Data Analyst,Bangalore/Bengaluru,CAREERLABS TECHNOLOGIES PRIVATE LIMITED,0 - 3 years
3,Data Analyst,Pune,Tata Consultancy Services Ltd.,4 - 8 years
4,Senior Data Analyst,Hyderabad/Secunderabad,Nx-DT,10 - 16 years
5,-,-,-,-
6,Senior Business Analyst- Data Science,Bangalore/Bengaluru( Whitefield ),Evalueserve.com Pvt. Ltd,2 - 7 years
7,Business/Data Analyst - Colleague Experience &...,Bangalore/Bengaluru,Vmware,3 - 8 years
8,Senior Data Analyst,Bangalore/Bengaluru,Telstra India Pvt Ltd,7 - 8 years
9,Data Analyst (SQL+Predictive Analytics+ Python),Bangalore/Bengaluru,AVE-Promagne,1 - 3 years

This is the required dataframe scraped from naukri.com website.

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location,company_name, full job-description. You have to scrape first 10 jobs data.

This task will be done in following steps:
- 1. first get the webpage https://www.naukri.com/
- 2. Enter “Data Scientist” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.
- 3. Then click the search button.
- 4. Then scrape the data for the first 10 jobs results you get.
- 5. Finally create a dataframe of the scraped data.

In [23]:
driver = webdriver.Chrome("chromedriver.exe")

In [24]:
url='https://www.naukri.com/'
driver.get(url)

Runing the url and getting the chrome browser automatically.

In [25]:
#searching job type
search_job = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[1]/div/div/div/div[1]/div[2]/input')
search_job

Got the web page to search job using xpath.

In [26]:
search_job.send_keys("Data Scientist")

Sending the key word Data Scientist to search job.

In [27]:
#searching job location
search_loc = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[2]/div/div/div/div[1]/div[2]/input')
search_loc

Got the web element for searching location using xpath.

In [28]:
search_loc.send_keys("Bangalore")

Sending the key word Bangalore to search location.

In [29]:
search_btn = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[3]/button')
search_btn

Got the web element for search button using xpath.

In [30]:
search_btn.click()

Clicking on search button on web using above code.

In [31]:
#Fetching all urls
urls=[]
for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']"):
    urls.append(i.get_attribute("href"))

In [32]:
urls[:10]

['https://www.naukri.com/job-listings-data-scientist-senior-business-analyst-lead-analyst-evalueserve-com-pvt-ltd-gurgaon-gurugram-bangalore-bengaluru-2-to-7-years-110821005065?src=jobsearchDesk&sid=16287616770578080&xp=1&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-retail-industry-ibm-india-pvt-limited-bangalore-bengaluru-7-to-10-years-100821908363?src=jobsearchDesk&sid=16287616770578080&xp=2&px=1',
 'https://www.naukri.com/job-listings-senior-lead-data-scientist-superior-group-bangalore-bengaluru-6-to-11-years-100821500375?src=jobsearchDesk&sid=16287616770578080&xp=3&px=1',
 'https://www.naukri.com/job-listings-data-scientist-advanced-analytics-ibm-india-pvt-limited-bangalore-bengaluru-5-to-10-years-110821906281?src=jobsearchDesk&sid=16287616770578080&xp=4&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-smiths-detection-systems-private-limited-bangalore-bengaluru-8-to-10-years-260721903257?src=jobsearchDesk&sid=16287616770578080&xp=5&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-cognizer-india-private-limited-bangalore-bengaluru-5-to-10-years-100821001616?src=jobsearchDesk&sid=16287616770578080&xp=6&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-zycus-infotech-pvt-ltd-bangalore-bengaluru-14-to-16-years-100821906533?src=jobsearchDesk&sid=16287616770578080&xp=7&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-transorg-solutions-services-p-ltd-bangalore-bengaluru-delhi-ncr-mumbai-all-areas-4-to-6-years-160721005471?src=jobsearchDesk&sid=16287616770578080&xp=8&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-tech-lead-data-science-confidential-bangalore-bengaluru-delhi-ncr-6-to-9-years-100821906281?src=jobsearchDesk&sid=16287616770578080&xp=9&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-kpo-talentco-search-pvt-ltd-mumbai-bangalore-bengaluru-delhi-ncr-6-to-10-years-110821908145?src=jobsearchDesk&sid=16287616770578080&xp=10&px=1']

In [33]:
#fetching the data of Job title:
job_titles=[] #empty list
for i in urls[:10]:
    driver.get(i)
    time.sleep(3)
    try:
        title_tag = driver.find_element_by_xpath("//h1[@class='jd-header-title']")
        job_titles.append(title_tag.text)
    except:
        job_titles.append('-')

In [34]:
job_titles

['Data Scientist- Senior Business Analyst/Lead Analyst',
 '-',
 'Senior/ Lead Data Scientist',
 '-',
 '-',
 'Senior Data Scientist',
 'Lead Data Scientist',
 'Lead Data Scientist',
 'Senior Data Scientist / Tech Lead - Data Science',
 'Senior Data Scientist - KPO']

Above is a list of first 10 job titles.

In [35]:
#fetching the data of job locations
job_loc=[] #empty list
for i in urls[:10]:
    driver.get(i)
    time.sleep(3)
    try:
        loc_tag = driver.find_element_by_xpath("//span[@class='location ']//a")
        job_loc.append(loc_tag.text)
    except:
        job_loc.append('-')

In [36]:
job_loc

['Gurgaon/Gurugram',
 '-',
 'Bangalore/Bengaluru',
 '-',
 '-',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai']

Above are the first 10 job locations.

In [37]:
#fetching the data of company names
comp_name=[] #empty list
for i in urls[:10]:
    driver.get(i)
    time.sleep(3)
    try:
        comp_tags = driver.find_element_by_xpath("//a[@class='pad-rt-8']")
        comp_name.append(comp_tags.text)
    except:
        comp_name.append('-')

In [38]:
comp_name

['Evalueserve.com Pvt. Ltd',
 '-',
 'Superior Group',
 '-',
 '-',
 'Cognizer India Private Limited',
 'Zycus Infotech Pvt Ltd',
 'TransOrg Solutions Services (P) Ltd.',
 'Confidential',
 'TalentCo Search Pvt Ltd']

Got first 10 company names.

In [39]:
#fetching job description
job_description=[] #empty list
for i in urls[:10]:
    driver.get(i)
    time.sleep(3)
    try:
        job_des=driver.find_element_by_xpath("//section[@class='job-desc']")
        job_description.append(job_des.text)
    except:
        job_description.append("-")

In [40]:
job_description

['Job description\nJob Description\nUnderstand and design analytical solutions to business problems leveraging data science\nUnderstand and get requirements from Stakeholders\nPropose and execute solutions and present deliverables to stakeholders\nManage and optimize deliverables\nMentor and train new team members\nDevelop POCs to enhance the teams capability\n\nRequirements\nUnderstanding of mathematical, statistical, and theoretical foundations of statistics and machine learning (ML) and parametric and non-parametric models\nKnowledge of advanced data mining techniques, curating, processing, and transforming data to produce datasets\nUse statistical techniques and ML methods for predictive modeling / classification of problems around clients, distribution, sales, marketing, client profiles, and segmentation\nProvide relevant and actionable recommendations / insights for businesses\nUnderstanding of ML lifecycle that includes feature engineering, training, validation, scaling, deployment, scoring, monitoring, and feedback loop\nExpertise in SAS Visual Analytics, Tableau, and Python\nExpert in Python / R / SAS\nExperience with cloud computing infrastructure, such as AWS / Azure / GCP\nAble to develop, test, and deploy models on cloud / web\n\nEducation and Experience\nBE / B.Tech. / MBA / M.Stat. / M.SC. or equivalent degree in Quant. from a reputed institute\n2-8 years of relevant experience\n\nRoleBusiness Analyst\nIndustry TypeAnalytics / KPO / Research\nFunctional AreaAnalytics & Business Intelligence\nEmployment TypeFull Time, Permanent\nRole CategoryAnalytics & BI\nEducation\nUG :B.Tech/B.E. in Any Specialization\nKey Skills\nPredictive ModelingData ScienceRMarketing Mix ModelingData MiningMarketing AnalyticsMachine LearningPythonSales Analytics',
 '-',
 'Job description\nProvide advanced analytical capabilities to support data science initiatives\nSolves highly complex problems that do not yet have solutions in the research and span much of the Data Science portfolio\nInfluences the thought process and methodology for other team members\nJob Requirements\nSkill seet required:\n6+ years of experience in analytics AND 2 years of programming experience (Python, Java, Scala, Rust, etc.)\n3 years of experience performing predictive analytics at a large scale enterprise\n3 years of experience in data science or advanced analytics in industry\nSQL Experience\nExperience using multiple data systems and sources (such as Hadoop, Spark, Aster, Teradata, etc.)\nRoleTeam Lead/Technical Lead\nIndustry TypeRecruitment / Staffing\nFunctional AreaIT Software - Application Programming, Maintenance\nEmployment TypeFull Time, Permanent\nRole CategoryProgramming & Design\nEducation\nUG :B.Tech/B.E. in Any Specialization\nPG :Any Postgraduate\nKey Skills\nadvanced analyticsdata scienceAnalyticalSCALALeadTeradataPredictive analyticsLead managementSQLPython',
 '-',
 '-',
 'Job description\n\nRoles and Responsibilities\nStrong in problem solving, algorithms and data structures\nProficient in Python\nHands on experience in technologies and tools related NLP, Deep learning, Machine learning\nExperience on Conversational AI is a plus\nAble to train and deploy models. Hands on experience on multi gpu/ tpu training\nBroad knowledge of machine learning algorithms and principles\nPerformance profiling and Tuning\nCommunicate and propose solutions to business challenges\nFamiliarity with at least one of the cloud computing infrastructure - GCP/AWS\nKeep abreast with the latest technological advances\nTeam mentoring and leadership skills\n\nDesired Candidate Profile\n\nNo. of opening: 01\nExperience Required : 05 years and above\nEducational Qualification: B.E/ B.Tech from Top Tier institutes ( IIT, BITS and NITs)\nExperience with Product company\nMust be interested to work in a fast pace startup culture\n\nPerks and Benefits\nMedical coverage for Self and Family\nProvident Fund\nStock Options\nLearning Program\n\nRoleR&D Executive\nIndustry TypeIT Services & Consulting\nFunctional AreaEngineering Design, R&D\nEmployment TypeFull Time, Permanent\nRole CategoryR&D\nEducation\nUG :B.Tech/B.E. in Computers\nKey Skills\nNLPDeep LearningPython\nAlgorithmsCloud ComputingGCPArtificial IntelligenceData StructuresNatural Language ProcessingMachine LearningAWS\nSkills highlighted with ‘‘ are preferred keyskills',
 'Job description\nZycus is looking for applicants with a strong background in Analytics and Data mining (Web, Social and Big data), Machine Learning, Pattern Recognition, Natural Language Processing, Computational Linguistics, Statistical Modelling, Inferencing, Information Retrieval, Large Scale Distributed Systems, Cloud Computing, Econometrics, Quantitative Marketing, Applied Game Theory, Mechanism Design, Operations Research, Optimization, Human Computer Interaction and Information Visualization. Applicants with a background in other quantitative areas are also encouraged to apply.\n\nWe are looking for someone who can create and implement AI solutions. If you have built a product like IBM WATSON in the past and not just used WATSON to build applications, this could be the perfect role for you.\n\nAll successful candidates are expected to dive deep into problem areas of Zycus interest and invent technology solutions to not only advance the current products, but also to generate new product options that can strategically advantage the organization.\n\nRoles & Responsibilities:\nAct as a technical thought leader in collaboration with the analytics leadership team, helping to set the strategy and standards for Machine Learning and advanced analytics\nWork with senior leaders from all functions to explore opportunities for using advance analytics\nProvide technical leadership, coaching, and mentoring to talented data scientists and analytics professionals\nGuide data scientists in the use of advanced statistical, machine learning, and artificial intelligence methodologies\nGuide the work of other Machine learning team members to provide support and assistance, while also ensuring quality\n\nRequirements\n\nSkills:\nExperience in predictive modelling and predictive software development\nSkilled at Java, C++, Perl/Python (or similar scripting languages)\nExperience in using R, Matlab, or any other statistical software\nExperience in mentoring junior team members, and guiding them on machine learning and data modelling applications\nStrong communication and data presentation skills\nClassification (svm, decision tree, random forest, neural network)\nRegression (linear, polynomial, logistic, etc)\nClassical Optimization(gradient descent, newton raphson, etc)\nGraph theory (network analytics)\nHeuristic Optimisation (genetic algorithm, swarm theory)\nDeep learning (lstm, convolutional nn, recurrent nn)\n\nMust Have:\nTotal experience: 14+ years\nThe ideal candidate must have proven expertise in Artificial Intelligence (including deep learning algorithms), Machine Learning and/or NLP\nThe candidate must also have expertise in programming traditional machine learning algorithms, algorithm design & usage\nProgramming expertise on Python or R\nPreferred experience with large data sets & distributed computing in Hadoop ecosystem\nStrong problem-solving skills\nFluency with databases\n\nBenefits\nFive Reasons Why You Should Join Zycus\nCloud Product Company: We are a Cloud SaaS Company and our products are created by using the latest technologies like ML and AI. Our UI is in Angular JS and we are developing our mobile apps using React.\nA Market Leader: Zycus is recognized by Gartner (worlds leading market research analyst) as a Leader in Procurement Software Suites.\nMove between Roles: We believe that change leads to growth and therefore we allow our employees to shift careers and move to different roles and functions within the organization\nGet a Global Exposure: You get to work and deal with our global customers.\nCreate an Impact: Zycus gives you the environment to create an impact on the product and transform your ideas into reality. Even our junior engineers get the opportunity to work on different product features.\nRoleAnalytics Manager\nIndustry TypeIT Services & Consulting\nFunctional AreaAnalytics & Business Intelligence\nEmployment TypeFull Time, Permanent\nRole CategoryAnalytics & BI\nEducation\nUG :Any Graduate\nPG :Any Postgraduate\nKey Skills\nRAlgorithmsNLPAlgorithm DesignData ScientistArtificial IntelligenceMachine LearningPythonRandom Forest',
 "Job description\nRoles and Responsibilities\n\nWell-versed in quantitative analysis, data mining, trend analysis, customer profiling, clustering and predictive modelling.\nExecuting the data-driven planning process by building models and frameworks that connect business unit drivers to company financials and forecast to take the correct decision as per the business need.\nShould be able to handle assigned tasks in the capacity of individual contributor.\nDemonstrate excellent teamwork.\nCollaborate with other data analysts to provide development coverage, support, and Knowledge sharing and mentoring of junior team members.\n\n\n\nDesired Candidate Profile\n\nBachelor's in Computer Science, Engineering, Statistics, Maths or related quantitative degree preferably from IIT, NIT, DTU and NSIT.\n4-6 years of relevant experience in data science.\nProblem solver who is passionate to deep dive into data and generate insights\nExperience of data pre-processing and data manipulation using R, Python or SQL\nShould have some experience in statistical techniques like linear regression, logistic regression, clustering etc.\nFamiliarity with Machine Learning and AI techniques is a plus\nTrack record of managing data project delivery including ability to meet deadlines, overcome challenges, manage stakeholder expectations, and produce clear deliverables\nExcellent critical thinker with a strong verbal and written communications skills.\nAbility and desire to work in a proactive, highly engaging, high-pressure, client service environment.\nUnderstanding of Cloud Platforms (e.g. Azure / AWS) and ability to use them for developing, training and testing deep learning models\n\n\n\n\n\nRoleAnalytics Manager\nIndustry TypeAnalytics / KPO / Research\nFunctional AreaAnalytics & Business Intelligence\nEmployment TypeFull Time, Permanent\nRole CategoryAnalytics & BI\nEducation\nUG :BCA in Any Specialization, B.Sc in Any Specialization, B.Tech/B.E. in Any Specialization\nPG :M.Tech in Any Specialization, MCA in Any Specialization, MS/M.Sc(Science) in Any Specialization\nKey Skills\nRPythonSQL\nData ScienceData ManipulationArtificial IntelligenceLinear RegressionMachine LearningStatisticsDeep Learning\nSkills highlighted with ‘‘ are preferred keyskills",
 'Job description\nResponsibilities -\nLead a team of data scientists, machine learning engineers and big data specialists\nBe the main point of contact for the customers\nLead data mining and collection procedures\nEnsure data quality and integrity\nInterpret and analyze data problems\nConceive, plan and prioritize data projects\nBuild analytic systems and predictive models\nTest performance of data-driven products\nVisualize data and create reports\nExperiment with new models and techniques\nAlign data projects with organizational goals\nRequirements -\nVery strong in statistics fundamentals. Not all data is Big Data. The candidate should be able to derive statistical insights from very few data points if required, using traditional statistical methods.\nEducation no bar, but preferably from a Statistics academic background (eg MSc-Stats, MSc-Econometrics etc), given the first point\nStrong expertise in Python (any other statistical languages/tools like R, SAS, SPSS etc are just optional, but Python is absolutely essential). If the person is very strong in Python, but has almost nil knowledge in the other statistical tools, he/she will still be considered a good candidate for this role.\nProven experience as a Data Scientist or similar role, for about 7-8 years\nSolid understanding of machine learning and AI concepts, especially wrt choice of apt candidate algorithms for a use case, and model evaluation.\nGood expertise in writing SQL queries (should not be dependent upon anyone else for pulling in data, joining them, data wrangling etc)\nKnowledge of data management and visualization techniques - more from a Data Science perspective.\nShould be able to grasp business problems, ask the right questions to better understand the problem breadthwise /depthwise, design apt solutions, and explain that to the business stakeholders.\nQualification\nAny Relevant Graudate ( BE/B Tech, MCA Prefer)\nRoleTeam Lead/Technical Lead\nIndustry TypeIT Services & Consulting\nFunctional AreaIT Software - DBA, Datawarehousing\nEmployment TypeFull Time, Permanent\nRole CategoryProgramming & Design\nEducation\nUG :B.Tech/B.E. in Any Specialization, B.A in Statistics, B.Sc in Statistics\nPG :MS/M.Sc(Science) in Statistics, M.A in Economics, Statistics, MCA in Any Specialization\nDoctorate :Doctorate Not Required\nKey Skills\nData ScienceData WranglingArtificial IntelligenceBig DataSQL QueriesData MiningMachine LearningStatisticsPython',
 'Job description\n- Ability to understand a problem statement and implement analytical solutions & techniques independently with independently/proactively/thought-leadership.\n\n- Work with stakeholders throughout the organization to identify opportunities for leveraging company/client data to drive business solutions.\n\n- Fast learner: ability to learn and pick up a new language/tool/ platform quickly.\n\n- Conceptualize, design, and deliver high-quality solutions and insightful analysis.\n\n- Conduct research and prototyping innovations; data and requirements gathering; solution scoping and architecture; consulting clients and client facing teams on advanced statistical and machine learning problems.\n\n- Collaborate and Coordinate with different functional teams(engineering and product development) to implement models and monitor outcomes.\n\n- Ability to deliver AIML based solutions around a host of domains and problems, with some of them being: Customer Segmentation & Targeting, Propensity Modeling, Churn Modeling, Lifetime Value Estimation, Forecasting, Recommender Systems, Modeling Response to Incentives, Marketing Mix Optimization, Price Optimization\n\nExperience Required:\n\n- Expert level proficiency in Python.\n\n- Ability to create efficient solutions to complex problems. Strong skills in data-structures and ML algorithms.\n\n- Experience of working on end-to-end data science pipeline: problem scoping, data gathering, EDA, modelling, insights, visualizations, monitoring and maintenance.\n\n- Problem-solving: Ability to break the problem into small parts and applying relevant techniques to drive required outcomes.\n\n- Intermediate to advanced knowledge of machine learning, probability theory, statistics, and algorithms. You will be required to discuss and use various algorithms and approaches on a daily basis.\n\n- We use regression, Bayesian methods, tree-based learners, SVM, RF, XGBOOST, time series modeling, dimensionality reduction, SEM, GLM, GLMM, clustering, Deep learning etc. on a regular basis. If you know few of them you are good to go.\n\nGood to Have:\n\n- Experience in one of the upcoming technologies like deep learning, NLP, image processing, recommender systems\n\n- Experience of working in on one or more domains:\n\n- CPG: pricing and promotion analytics, marketing analytics, trade promotions, supply chain management\n\n- BFSI: cross-sell, up-sell, campaign analytics, treasury analytics, fraud detection\n\n- Healthcare: medical adherence, medical risk profiling, EHR data, fraud-waste-abuse\n\n- Experience in working with Linux computing environment and use of command line tools like sed/awk\n\n- Good grasp on databases including RDBMS, NoSQL, MongoDB etc.\nRoleData Analyst\nIndustry TypeAnalytics / KPO / Research\nFunctional AreaAnalytics & Business Intelligence\nEmployment TypeFull Time, Permanent\nRole CategoryAnalytics & BI\nEducation\nUG :Any Graduate\nPG :Any Postgraduate\nDoctorate :Doctorate Not Required\nKey Skills\nData ScienceNLPData ScientistArtificial IntelligenceData ManagementStatistical ModelingMarketing AnalyticsMachine LearningAnalyticsSQL']

Above are the first 10 job descriptions.

In [41]:
print(len(job_titles),len(job_loc),len(comp_name),len(job_description))

10 10 10 10

# DataFraming:

In [42]:
#Creating data frame for scraped data
jobs_open=pd.DataFrame({})
jobs_open['Title']=job_titles
jobs_open['Location']=job_loc
jobs_open['Company Name']=comp_name
jobs_open['Description']=job_description

In [43]:
jobs_open

,Title,Location,Company Name,Description
0,Data Scientist- Senior Business Analyst/Lead A...,Gurgaon/Gurugram,Evalueserve.com Pvt. Ltd,Job description\nJob Description\nUnderstand a...
1,-,-,-,-
2,Senior/ Lead Data Scientist,Bangalore/Bengaluru,Superior Group,Job description\nProvide advanced analytical c...
3,-,-,-,-
4,-,-,-,-
5,Senior Data Scientist,Bangalore/Bengaluru,Cognizer India Private Limited,Job description\n\nRoles and Responsibilities\...
6,Lead Data Scientist,Bangalore/Bengaluru,Zycus Infotech Pvt Ltd,Job description\nZycus is looking for applican...
7,Lead Data Scientist,Bangalore/Bengaluru,TransOrg Solutions Services (P) Ltd.,Job description\nRoles and Responsibilities\n\...
8,Senior Data Scientist / Tech Lead - Data Science,Bangalore/Bengaluru,Confidential,Job description\nResponsibilities -\nLead a te...
9,Senior Data Scientist - KPO,Mumbai,TalentCo Search Pvt Ltd,Job description\n- Ability to understand a pro...

This is the required data scraped using selenium.

# Q3: You have to scrap data in naukri.com.You have to use the location and salary filter.You have to scrape data for “Data Scientist” designation for first 10 job results.You have to scrape the job-title, job-location, company_name,experience_required.

The location filter to be used is “Delhi/NCR”.The salary filter to be used is “3-6” lakhs.The task will be done as shown in the below steps:
- 1. first get the webpage https://www.naukri.com/
- 2. Enter “Data Scientist” in “Skill,Designations,Companies” field .
- 3. Then click the search button.
- 4. Then apply the location filter and salary filter by checking the respective boxes
- 5. Then scrape the data for the first 10 jobs results you get.
- 6. Finally create a dataframe of the scraped data.

In [44]:
driver = webdriver.Chrome("chromedriver.exe")

In [45]:
url='https://www.naukri.com/'
driver.get(url)

This is the url from which we are scraping the data.

In [46]:
#searching job type
search_job = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[1]/div/div/div/div[1]/div[2]/input')
search_job

This is the web element for searching job.

In [47]:
search_job.send_keys("Data Scientist")

Giving the key word as Data Scientist.

In [48]:
search_btn = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[3]/button')
search_btn

This is the web element for search button using xpath.

In [49]:
search_btn.click()

Clicking on search button using above code.

In [50]:
#adding location filter
location_filter=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/i')
location_filter.click()

In [51]:
#adding salary filter
salary_filter=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i')
salary_filter.click()

Added both location and salary filters.

In [52]:
#Fetching all urls
urls=[]
for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']"):
    urls.append(i.get_attribute("href"))

In [53]:
urls[:10]

['https://www.naukri.com/job-listings-data-scientist-internship-ihackers-inc-new-delhi-0-to-1-years-090821501355?src=jobsearchDesk&sid=16287628152447811_2&xp=1&px=1',
 'https://www.naukri.com/job-listings-data-scientist-cbre-south-asia-pvt-ltd-gurgaon-gurugram-2-to-4-years-060821006015?src=jobsearchDesk&sid=16287628152447811_2&xp=2&px=1',
 'https://www.naukri.com/job-listings-data-scientist-agreeya-solutions-india-private-limited-noida-gurgaon-gurugram-delhi-ncr-3-to-6-years-110821005471?src=jobsearchDesk&sid=16287628152447811_2&xp=3&px=1',
 'https://www.naukri.com/job-listings-data-scientist-sr-data-scientist-wegarner-solutions-private-limited-noida-pune-mumbai-all-areas-0-to-5-years-060821001080?src=jobsearchDesk&sid=16287628152447811_2&xp=4&px=1',
 'https://www.naukri.com/job-listings-only-fresher-data-scientist-data-analyst-analytics-mnc-jobs-gaba-consultancy-services-noida-gurgaon-gurugram-delhi-ncr-0-to-0-years-060821000245?src=jobsearchDesk&sid=16287628152447811_2&xp=5&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-noida-optum-global-solutions-india-private-limited-noida-2-to-6-years-300721901286?src=jobsearchDesk&sid=16287628152447811_2&xp=6&px=1',
 'https://www.naukri.com/job-listings-data-scientist-r-systems-international-ltd-noida-5-to-10-years-220621005420?src=jobsearchDesk&sid=16287628152447811_2&xp=7&px=1',
 'https://www.naukri.com/job-listings-immediate-openings-for-data-scientist-with-6-to-7-yrs-of-experience-entune-it-consulting-private-limited-kolkata-hyderabad-secunderabad-pune-ahmedabad-chennai-bangalore-bengaluru-delhi-ncr-mumbai-all-areas-5-to-8-years-020821005914?src=jobsearchDesk&sid=16287628152447811_2&xp=8&px=1',
 'https://www.naukri.com/job-listings-data-scientist-decimal-technologies-pvt-ltd-gurgaon-gurugram-1-to-3-years-020821500431?src=jobsearchDesk&sid=16287628152447811_2&xp=9&px=1',
 'https://www.naukri.com/job-listings-data-scientist-machine-learning-nlp-talpro-gurgaon-gurugram-2-to-6-years-210621906106?src=jobsearchDesk&sid=16287628152447811_2&xp=10&px=1']

In [54]:
#fetching the data of Job title:
job_titles=[] #empty list
for i in urls[:10]:
    driver.get(i)
    time.sleep(3)
    try:
        title_tag = driver.find_element_by_xpath("//h1[@class='jd-header-title']")
        job_titles.append(title_tag.text)
    except:
        job_titles.append('-')

In [55]:
job_titles

['Data Scientist Internship',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist / Sr. Data Scientist',
 'Only Fresher / Data Scientist / Data Analyst / Analytics - MNC Jobs',
 'Senior Data Scientist - Noida',
 '-',
 'Immediate Openings For DATA Scientist with 6 To 7 yrs of Experience',
 'Data Scientist',
 'Data Scientist - Machine Learning/NLP']

Got first 10 job titles.

In [58]:
#fetching the data of job locations
job_loc=[] #empty list
for i in urls[:10]:
    driver.get(i)
    time.sleep(3)
    try:
        loc_tag = driver.find_element_by_xpath("//span[@class='location ']//a")
        job_loc.append(loc_tag.text)
    except:
        job_loc.append('-')

In [59]:
job_loc

['New Delhi',
 'Gurgaon/Gurugram',
 'Noida',
 'Noida',
 'Noida',
 'Noida',
 '-',
 'Kolkata',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram']

Got first 10 job locations.

In [60]:
#fetching the data of company names
comp_name=[] #empty list
for i in urls[:10]:
    driver.get(i)
    time.sleep(3)
    try:
        comp_tags = driver.find_element_by_xpath("//a[@class='pad-rt-8']")
        comp_name.append(comp_tags.text)
    except:
        comp_name.append('-')

In [61]:
comp_name

['iHackers Inc',
 'CBRE South Asia Pvt Ltd',
 'Agreeya',
 'WEGARNER SOLUTIONS PRIVATE LIMITED',
 'GABA Consultancy services',
 'Optum Global Solutions (India) Private Limited',
 '-',
 'Entune IT Consulting Private Limited',
 'Decimal Technologies Pvt Ltd.',
 'TalPro']

These are the first 10 company names.

In [62]:
#fetching the data of experience required
exp_req=[] #empty list
for i in urls[:10]:
    driver.get(i)
    time.sleep(3)
    try:
        exp_tags = driver.find_element_by_xpath("//div[@class='exp']//span")
        exp_req.append(exp_tags.text)
    except:
        exp_req.append('-')

In [63]:
exp_req

['0 - 1 years',
 '2 - 4 years',
 '3 - 6 years',
 '0 - 5 years',
 '0 years',
 '2 - 6 years',
 '-',
 '5 - 8 years',
 '1 - 3 years',
 '2 - 6 years']

These are the first 10 experience required list.

In [64]:
print(len(job_titles),len(job_loc),len(comp_name),len(exp_req))

10 10 10 10

# DataFraming:

In [65]:
#Creating data frame for scraped data
data_jobs=pd.DataFrame({})
data_jobs['Title']=job_titles
data_jobs['Location']=job_loc
data_jobs['Company Name']=comp_name
data_jobs['Description']=exp_req

In [66]:
data_jobs

,Title,Location,Company Name,Description
0,Data Scientist Internship,New Delhi,iHackers Inc,0 - 1 years
1,Data Scientist,Gurgaon/Gurugram,CBRE South Asia Pvt Ltd,2 - 4 years
2,Data Scientist,Noida,Agreeya,3 - 6 years
3,Data Scientist / Sr. Data Scientist,Noida,WEGARNER SOLUTIONS PRIVATE LIMITED,0 - 5 years
4,Only Fresher / Data Scientist / Data Analyst /...,Noida,GABA Consultancy services,0 years
5,Senior Data Scientist - Noida,Noida,Optum Global Solutions (India) Private Limited,2 - 6 years
6,-,-,-,-
7,Immediate Openings For DATA Scientist with 6 T...,Kolkata,Entune IT Consulting Private Limited,5 - 8 years
8,Data Scientist,Gurgaon/Gurugram,Decimal Technologies Pvt Ltd.,1 - 3 years
9,Data Scientist - Machine Learning/NLP,Gurgaon/Gurugram,TalPro,2 - 6 years

This is the required data set scraped using selenium.

# Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.

This task will be done in following steps:
- 1. first get the webpage https://www.glassdoor.co.in/index.htm
- 2. Enter “Data Scientist” in “Job Title,Keyword,Company” field and enter “Noida” in “location” field.
- 3. Then click the search button. You will land up in the below page:
- 4. Then scrape the data for the first 10 jobs results you get in the above shown page.
- 5. Finally create a dataframe of the scraped data.

In [167]:
driver = webdriver.Chrome("chromedriver.exe")

In [168]:
url="https://www.glassdoor.co.in/index.htm"
driver.get(url)

This is the url from which i have to scrap data.

In [125]:
#searching job type
search_job = driver.find_element_by_xpath('/html/body/header/nav[1]/div/div/div/div[4]/div[3]/div[2]/form/div[2]/div[1]/div/div/input')
search_job

I got the web element for searching job using absolute xpath.

In [126]:
search_job.send_keys('Data Scientist')

Giving the key word as Data scientist.

In [127]:
#searching job location
search_location = driver.find_element_by_xpath('/html/body/header/nav[1]/div/div/div/div[4]/div[3]/div[2]/form/div[2]/div[2]/div/div/input')
search_location

This is the web element for searching job location.

In [128]:
search_location.send_keys("Noida")

Giving the key word as Noida to search location.

In [130]:
search_btn = driver.find_element_by_xpath("//button[@class='pl-0 pr-xsm search__SearchStyles__searchKeywordSubmit']")
search_btn.click()

Clicked on search button using above code.

In [131]:
#scraping data for company name
comp_tags=driver.find_elements_by_xpath("//a[@class=' css-l2wjgv e1n63ojh0 jobLink']//span[1]")

In [132]:
company_name=[] #empty list
for i in comp_tags:
    company_name.append(i.text)

In [133]:
company_name=company_name[:10]
company_name

['Liberin Technologies Private Limited',
 'Pixel Vision',
 'Crowe',
 'Newgen Software',
 'Ericsson',
 'Salasar New Age Technologies',
 'NatWest Group',
 'Techlive',
 'Biz2Credit Inc',
 'Uncodemy']

I got first ten company names using xpath.

In [134]:
#scraping data for No. of days ago when the post was posted.
import time
tim_tags=driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")

In [135]:
days_ago=[] #empty list
for i in tim_tags:
    days_ago.append(i.text)

In [136]:
days_ago=days_ago[:10]
days_ago

['9d', '20d', '30d+', '20d', '4d', '30d+', '3d', '30d+', '30d+', '24h']

I got first 10 no.of days the job was posted using xpath.

In [137]:
#scraping data for No. of days ago when the post was posted.
rat_tags=driver.find_elements_by_xpath("//span[@class='css-19pjha7 e1cjmv6j1']")

In [138]:
ratings=[] #empty list
for i in rat_tags:
    ratings.append(i.text)

In [139]:
ratings=ratings[:10]
ratings

['3.8', '3.3', '4.1', '3.9', '5.0', '4.1', '3.8', '3.1', '3.8', '3.7']

I got first 10 ratings.

In [140]:
#Checking the length of scraped data to make dataframe.
print(len(company_name),len(days_ago),len(ratings))

10 10 10

# DataFraming:

In [141]:
#Creating data frame for scraped data
job=pd.DataFrame({})
job['Company name']=company_name
job['No.of days ago job posted']=days_ago
job['Ratings']=ratings

In [142]:
job

                           Company name No.of days ago job posted Ratings
0  Liberin Technologies Private Limited                        9d     3.8
1                          Pixel Vision                       20d     3.3
2                                 Crowe                      30d+     4.1
3                       Newgen Software                       20d     3.9
4                              Ericsson                        4d     5.0
5          Salasar New Age Technologies                      30d+     4.1
6                         NatWest Group                        3d     3.8
7                              Techlive                      30d+     3.1
8                        Biz2Credit Inc                      30d+     3.8
9                              Uncodemy                       24h     3.7

This is the required dataframe scraped using selenium.

# Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location.You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.

The above task will be, done as shown in the below steps:
- 1. first get the webpage https://www.glassdoor.co.in/Salaries/index.htm
- 2. Enter “Data Scientist” in Job title field and “Noida” in location field.
- 3. Click the search button.
- 4. After that you will land on the below page
- 5. Scrape data for first 10 companies. Scrape the min salary, max salary, company name, Average salary and rating of the company.
- 6. Store the data in a dataframe.

In [6]:
driver = webdriver.Chrome('chromedriver.exe')

In [11]:
url='https://www.glassdoor.co.in/Salaries/index.htm'
driver.get(url)

This is the url from which i have to scrap the data.

In [12]:
#Searching job type
search_job = driver.find_element_by_xpath('/html/body/header/nav[1]/div/div/div/div[3]/div[3]/div[2]/form/div[2]/div[1]/div/div/input')
search_job

In [13]:
search_job.send_keys('Data Scientist')

In [15]:
#Searching job location
search_loc = driver.find_element_by_xpath('/html/body/header/nav[1]/div/div/div/div[3]/div[3]/div[2]/form/div[2]/div[2]/div/div/input')
search_loc.send_keys('Noida')

In [16]:
#Clicking on search button
search_btn = driver.find_element_by_xpath("//button[@class='pl-0 pr-xsm SearchStyles__searchKeywordSubmit']")
search_btn.click()

In [17]:
#scraping data for company name
comp_tags=driver.find_elements_by_xpath("//h3[@class='m-0 css-g261rn']//a")

In [18]:
company_name=[] #empty list
for i in comp_tags:
    company_name.append(i.text)

In [19]:
company_name=company_name[:10]
company_name

['Tata Consultancy Services',
 'IBM',
 'Accenture',
 'Delhivery',
 'Ericsson-Worldwide',
 'UnitedHealth Group',
 'Valiance Solutions',
 'EXL Service',
 'Optum',
 'Optum Global Solutions']

In [20]:
#scraping data for no of salaries
sal_tags=driver.find_elements_by_xpath("//div[@class='col-12 col-lg-auto']//span")

In [21]:
no_salary=[] #empty list
for i in sal_tags:
    no_salary.append(i.text)

In [22]:
no_salary=no_salary[:10]
no_salary

['18 salaries',
 '18 salaries',
 '15 salaries',
 '15 salaries',
 '14 salaries',
 '14 salaries',
 '10 salaries',
 '9 salaries',
 '9 salaries',
 '9 salaries']

In [23]:
#scraping data for average salary
avsa_tags=driver.find_elements_by_xpath("//div[@class='col-12 col-lg-4 px-lg-0 d-flex align-items-baseline']")

In [26]:
avr_salary=[] #empty list
for i in avsa_tags:
    avr_salary.append(i.text.replace('\n',' '))

In [27]:
avr_salary=avr_salary[:10]
avr_salary

['₹6,12,205  /yr',
 '₹9,00,000  /yr',
 '₹11,63,336  /yr',
 '₹12,18,244  /yr',
 '₹7,39,238  /yr',
 '₹12,80,000  /yr',
 '₹8,63,750  /yr',
 '₹11,10,000  /yr',
 '₹14,23,677  /yr',
 '₹13,28,697  /yr']

In [28]:
#scraping data for ratings
rat_tags=driver.find_elements_by_xpath("//div[@class='d-flex align-items-center mt-xxsm']")

In [33]:
ratings=[] #empty list
for i in rat_tags:
    ratings.append(i.text.replace('\n',' ').replace('★',''))

In [34]:
ratings=ratings[:10]
ratings

['3.9 ', '3.9 ', '4.1 ', '3.9 ', '4 ', '3.6 ', '4.2 ', '3.6 ', '3.7 ', '3.9 ']

In [44]:
#scraping data for minimum  and maximum salary
minmax_tags=driver.find_elements_by_xpath("//span[@class='d-block d-lg-none m-0 css-1b6bxoo']")

In [45]:
salary_range=[] #empty list
for i in minmax_tags:
    salary_range.append(i.text.replace('\n',' '))

In [46]:
salary_range=salary_range[:10]
salary_range

['Range: ₹3L - ₹13L',
 'Range: ₹6L - ₹27L',
 'Range: ₹6L - ₹22L',
 'Range: ₹5L - ₹1Cr',
 'Range: ₹4L - ₹16L',
 'Range: ₹8L - ₹15L',
 'Range: ₹5L - ₹15L',
 'Range: ₹6L - ₹15L',
 'Range: ₹8L - ₹20L',
 'Range: ₹4L - ₹22L']

# DataFraming:

In [47]:
#Creating data frame for scraped data
job_1=pd.DataFrame({})
job_1['Company name']=company_name[:10]
job_1['No.of salaries']=no_salary[:10]
job_1['Ratings']=ratings[:10]
job_1['Salary Range']=salary_range[:10]

In [48]:
job_1

                Company name No.of salaries Ratings       Salary Range
0  Tata Consultancy Services    18 salaries    3.9   Range: ₹3L - ₹13L
1                        IBM    18 salaries    3.9   Range: ₹6L - ₹27L
2                  Accenture    15 salaries    4.1   Range: ₹6L - ₹22L
3                  Delhivery    15 salaries    3.9   Range: ₹5L - ₹1Cr
4         Ericsson-Worldwide    14 salaries      4   Range: ₹4L - ₹16L
5         UnitedHealth Group    14 salaries    3.6   Range: ₹8L - ₹15L
6         Valiance Solutions    10 salaries    4.2   Range: ₹5L - ₹15L
7                EXL Service     9 salaries    3.6   Range: ₹6L - ₹15L
8                      Optum     9 salaries    3.7   Range: ₹8L - ₹20L
9     Optum Global Solutions     9 salaries    3.9   Range: ₹4L - ₹22L

This is the required dataframe scraped using selenium.

# Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
- 1. Brand
- 2. Product Description
- 3. Price
- 4. Discount %

To scrape the data you have to go through following steps:
- 1. Go to flipkart webpage by url https://www.flipkart.com/
- 2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon
- 3. after that you will reach to a webpage having a lot of sunglasses. From this page you can scrap the required data as usual.
- 4. after scraping data from the first page, go to the “Next” Button at the bottom of the page , then click on it
- 5. Now scrape data from this page as usual
- 6. repeat this until you get data for 100 sunglasses.

In [67]:
driver = webdriver.Chrome('chromedriver.exe')

In [68]:
url='https://www.flipkart.com/'
driver.get(url)

This is the required url from which i have to scrap data.

In [69]:
#Searching item
search_item=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_item

This is the web element to search item using absolute xpath.

In [70]:
search_item.send_keys('Sunglasses')

Giving the keyword as sunglasses.

In [71]:
search_btn=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn

In [72]:
search_btn.click()

Geting web element of search button and clicking on it.

In [74]:
#scraping all urls from flipkart web page.
page_url=[] #empty list
url=driver.find_elements_by_xpath("//nav[@class='yFHi8N']//a")
for i in url:
    page_url.append(i.get_attribute("href"))
page_url

['https://www.flipkart.com/search?q=Sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=1',
 'https://www.flipkart.com/search?q=Sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2',
 'https://www.flipkart.com/search?q=Sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3',
 'https://www.flipkart.com/search?q=Sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=4',
 'https://www.flipkart.com/search?q=Sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=5',
 'https://www.flipkart.com/search?q=Sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=6',
 'https://www.flipkart.com/search?q=Sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=7',
 'https://www.flipkart.com/search?q=Sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=8',
 'https://www.flipkart.com/search?q=Sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=9',
 'https://www.flipkart.com/search?q=Sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=10',
 'https://www.flipkart.com/search?q=Sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2']

In [78]:
#scraping data of sunglass brand
sun_brand=[] #empty list
for i in page_url:
    driver.get(i)
    brand_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for i in brand_tags:
        sun_brand.append(i.text)
sun_brand[:100]

['Wrogn',
 'HAMIW COLLECTION',
 'Elligator',
 'Fastrack',
 'Fastrack',
 'kingsunglasses',
 'PIRASO',
 'Elligator',
 'Fastrack',
 'SUNBEE',
 'Fastrack',
 'ROYAL SON',
 'Fastrack',
 'Fastrack',
 'SHAAH COLLECTIONS',
 'ROZZETTA CRAFT',
 'Fastrack',
 'Fastrack',
 'kingsunglasses',
 'PIRASO',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'PIRASO',
 'Wrogn',
 'PHENOMENAL',
 'kingsunglasses',
 'Fastrack',
 'ROZZETTA CRAFT',
 'GANSTA',
 'PIRASO',
 'Elligator',
 'AISLIN',
 'hipe',
 'Singco India',
 'Silver Kartz',
 'PIRASO',
 'PHENOMENAL',
 'Fastrack',
 'ROYAL SON',
 'Villain',
 'NuVew',
 'Elligator',
 'ROYAL SON',
 'Wrogn',
 'Elligator',
 'ROZZETTA CRAFT',
 'Fastrack',
 'HAMIW COLLECTION',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'AISLIN',
 'Fravy',
 'Fravy',
 'Badfella',
 'kingsunglasses',
 'ROYAL SON',
 'Fastrack',
 'Fastrack',
 'Fastrack',
 'ROZZETTA CRAFT',
 'Fastrack',
 'Singco',
 'ROYAL SON',
 'PIRASO',
 'kingsunglasses',
 'hipe',
 'PHENOMENAL',
 'ROZZETTA CRAFT',
 'AISLIN',
 'DEIXELS',
 'HIPPON',
 'PIRASO',
 'hipe',
 'Fastrack',
 'Flizz',
 'AISLIN',
 'Elligator',
 'GANSTA',
 'NuVew',
 'Wrogn',
 'PIRASO',
 'specsmakers',
 'Wrogn',
 'Wrogn',
 'GANSTA',
 'ROYAL SON',
 'PIRASO',
 'HAMIW COLLECTION',
 'GANSTA',
 'Fastrack',
 'kingsunglasses',
 'Fravy',
 'Ray-Ban',
 'kingsunglasses',
 'Fastrack',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'Fastrack',
 'Elligator',
 'Billion']

In [79]:
#scraping data of sunglass product description
sun_prodes=[] #empty list
for i in page_url:
    driver.get(i)
    prodes_tags=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    for i in prodes_tags:
        sun_prodes.append(i.text)
sun_prodes[:100]

['Mirrored Wayfarer Sunglasses (51)',
 'UV Protection Wayfarer, Sports, Shield, Rectangular, Re...',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'Polarized, UV Protection Round Sunglasses (49)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Round Sunglasses (Fr...',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Retro Square Sunglasses (58)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Rectangular Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Gradient, Night Vision Retro Square Sung...',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Over-sized Sunglasses (65)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Sports Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Wrap-around Sunglasses (6...',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Aviator Sunglasses (54)',
 'Mirrored Round Sunglasses (53)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'Mirrored, UV Protection, Gradient Round Sunglasses (55)',
 'UV Protection, Riding Glasses, Others Aviator, Wayfarer...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Wayfarer Sunglasses (55)',
 'UV Protection Aviator Sunglasses (60)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Aviator Sunglasses (55)',
 'Mirrored Aviator Sunglasses (55)',
 'Mirrored Wayfarer Sunglasses (51)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer, Sports, Shield, Rectangular, Re...',
 'UV Protection, Others Round, Aviator Sunglasses (54)',
 'UV Protection, Riding Glasses Rectangular Sunglasses (F...',
 'UV Protection, Gradient Butterfly, Retro Square Sunglas...',
 'Polarized, UV Protection Round Sunglasses (49)',
 'UV Protection Wayfarer Sunglasses (56)',
 'Polarized, UV Protection Retro Square Sunglasses (53)',
 'UV Protection, Mirrored Round Sunglasses (54)',
 'Polarized, UV Protection Round Sunglasses (53)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (56)',
 'UV Protection Retro Square Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (56)',
 'Mirrored Aviator Sunglasses (53)',
 'UV Protection Rectangular Sunglasses (58)',
 'Polarized, UV Protection Rectangular Sunglasses (59)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Sports Sunglasses (Free Size)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection, Gradient, Night Vision Retro Square Sung...',
 'UV Protection, Gradient Butterfly, Retro Square Sunglas...',
 'UV Protection Aviator, Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Over-sized Sunglasses (65)',
 'Mirrored Wayfarer Sunglasses (55)',
 'UV Protection Rectangular Sunglasses (59)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Wrap-around Sunglasses (6...',
 'UV Protection, Gradient, Mirrored Aviator, Round, Wayfa...',
 'UV Protection, Night Vision, Riding Glasses Aviator Sun...',
 'UV Protection, Riding Glasses Wayfarer Sunglasses (56)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (32)',
 'Polarized Aviator Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (56)',
 'Mirrored Wayfarer Sunglasses (51)',
 'Night Vision, Riding Glasses Wayfarer Sunglasses (53)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Wayfarer, Sports, Shield, Rectangular, Re...',
 'UV Protection Wayfarer Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Mirrored, UV Protection Aviator Sunglasses (56)',
 'Polarized, UV Protection Round Sunglasses (49)',
 'UV Protection Retro Square Sunglasses (55)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'Polarized, UV Protection Round Sunglasses (53)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection Wrap-around Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Rectangular, Retro Square...',
 'UV Protection Retro Square Sunglasses (58)']

I got all the list of sunglass product description from 10 pages.

In [80]:
#scraping data of sunglass price
sun_price=[] #empty list
for i in page_url:
    driver.get(i)
    pri_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    for i in pri_tags:
        sun_price.append(i.text)
sun_price[:100]

['₹663',
 '₹197',
 '₹295',
 '₹758',
 '₹513',
 '₹299',
 '₹237',
 '₹664',
 '₹509',
 '₹331',
 '₹1,085',
 '₹474',
 '₹1,010',
 '₹546',
 '₹198',
 '₹474',
 '₹733',
 '₹738',
 '₹210',
 '₹699',
 '₹404',
 '₹499',
 '₹237',
 '₹279',
 '₹379',
 '₹225',
 '₹771',
 '₹399',
 '₹266',
 '₹237',
 '₹312',
 '₹237',
 '₹199',
 '₹214',
 '₹246',
 '₹426',
 '₹379',
 '₹758',
 '₹217',
 '₹1,007',
 '₹202',
 '₹328',
 '₹379',
 '₹663',
 '₹331',
 '₹474',
 '₹558',
 '₹197',
 '₹225',
 '₹426',
 '₹545',
 '₹664',
 '₹179',
 '₹255',
 '₹249',
 '₹664',
 '₹539',
 '₹655',
 '₹633',
 '₹474',
 '₹655',
 '₹239',
 '₹474',
 '₹699',
 '₹349',
 '₹303',
 '₹379',
 '₹279',
 '₹516',
 '₹213',
 '₹257',
 '₹399',
 '₹208',
 '₹1,021',
 '₹399',
 '₹237',
 '₹246',
 '₹295',
 '₹232',
 '₹426',
 '₹237',
 '₹841',
 '₹684',
 '₹663',
 '₹196',
 '₹265',
 '₹399',
 '₹197',
 '₹199',
 '₹660',
 '₹249',
 '₹664',
 '₹3,843',
 '₹349',
 '₹1,148',
 '₹349',
 '₹449',
 '₹522',
 '₹398',
 '₹664']

I got all prices of sunglass from 10 pages.

In [81]:
#scraping data of sunglass discount
sun_discount=[] #empty list
for i in page_url:
    driver.get(i)
    dis_tags=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span")
    for i in dis_tags:
        sun_discount.append(i.text)
sun_discount[:100]

['73% off',
 '86% off',
 '88% off',
 '15% off',
 '35% off',
 '88% off',
 '85% off',
 '66% off',
 '36% off',
 '80% off',
 '16% off',
 '68% off',
 '22% off',
 '31% off',
 '88% off',
 '68% off',
 '18% off',
 '26% off',
 '82% off',
 '55% off',
 '79% off',
 '77% off',
 '85% off',
 '78% off',
 '81% off',
 '79% off',
 '14% off',
 '53% off',
 '86% off',
 '85% off',
 '87% off',
 '70% off',
 '86% off',
 '69% off',
 '83% off',
 '80% off',
 '81% off',
 '15% off',
 '78% off',
 '85% off',
 '74% off',
 '86% off',
 '74% off',
 '74% off',
 '78% off',
 '30% off',
 '77% off',
 '80% off',
 '64% off',
 '80% off',
 '74% off',
 '79% off',
 '32% off',
 '18% off',
 '29% off',
 '27% off',
 '76% off',
 '68% off',
 '78% off',
 '84% off',
 '81% off',
 '66% off',
 '82% off',
 '78% off',
 '79% off',
 '21% off',
 '81% off',
 '87% off',
 '85% off',
 '76% off',
 '15% off',
 '83% off',
 '79% off',
 '82% off',
 '80% off',
 '20% off',
 '80% off',
 '87% off',
 '58% off',
 '5% off',
 '85% off',
 '57% off',
 '73% off',
 '89% off',
 '79% off',
 '84% off',
 '75% off',
 '17% off',
 '80% off',
 '30% off',
 '78% off',
 '11% off',
 '77% off',
 '41% off',
 '73% off',
 '13% off',
 '52% off',
 '76% off',
 '77% off',
 '87% off']

I got all discounts of sunglass from 10 pages.

# DataFraming:

In [83]:
#Creating data frame for scraped data
Sunglass=pd.DataFrame({})
Sunglass['Brand']=sun_brand[:100]
Sunglass['Description']=sun_prodes[:100]
Sunglass['Price']=sun_price[:100]
Sunglass['Discount']=sun_discount[:100]

In [84]:
Sunglass

,Brand,Description,Price,Discount
0,Wrogn,Mirrored Wayfarer Sunglasses (51),₹663,73% off
1,HAMIW COLLECTION,"UV Protection Wayfarer, Sports, Shield, Rectan...",₹197,86% off
2,Elligator,UV Protection Round Sunglasses (54),₹295,88% off
3,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹758,15% off
4,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹513,35% off
...,...,...,...,...
95,ROYAL SON,"Polarized, UV Protection Round Sunglasses (53)",₹349,13% off
96,ROZZETTA CRAFT,"UV Protection, Gradient Round Sunglasses (Free...",₹449,52% off
97,Fastrack,UV Protection Wrap-around Sunglasses (Free Size),₹522,76% off
98,Elligator,"UV Protection, Riding Glasses Rectangular, Ret...",₹398,77% off
99,Billion,UV Protection Retro Square Sunglasses (58),₹664,87% off

This is the required dataframe scraped using selenium.

# Q7: : Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.

- 1. Rating 
- 2. Review_summary 
- 3. Full review
You have to scrape this data for first 100 reviews.

In [85]:
driver = webdriver.Chrome('chromedriver.exe')

In [86]:
url='https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace'
driver.get(url)

This is the url from which i have to scrap data.

In [87]:
#Clicking on view all
view_all=driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']//span")
view_all.click()

In [88]:
#scraping all urls from flipkart web page.
page_url=[] #empty list
url=driver.find_elements_by_xpath("//nav[@class='yFHi8N']//a")
for i in url:
    page_url.append(i.get_attribute("href"))
page_url

['https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=1',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=2',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=3',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=4',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=5',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=6',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=7',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=8',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=9',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=10',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=2']

In [89]:
#scraping data of iphone ratings
iphone_rat=[] #empty list
for i in page_url:
    driver.get(i)
    rat_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    for i in rat_tags:
        iphone_rat.append(i.text)
iphone_rat[:100]

['5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '4',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '4',
 '5',
 '3',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '3',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5']

In [90]:
#scraping data of iphone review summary
review_sum=[] #empty list
for i in page_url:
    driver.get(i)
    rev_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    for i in rev_tags:
        review_sum.append(i.text)
review_sum[:100]

['Brilliant',
 'Simply awesome',
 'Perfect product!',
 'Fabulous!',
 'Worth every penny',
 'Great product',
 'Good choice',
 'Worth every penny',
 'Best in the market!',
 'Highly recommended',
 'Perfect product!',
 'Highly recommended',
 'Perfect product!',
 'Classy product',
 'Worth every penny',
 'Perfect product!',
 'Simply awesome',
 'Highly recommended',
 'Worth every penny',
 'Terrific',
 'Nice product',
 'Wonderful',
 'Classy product',
 'Brilliant',
 'Must buy!',
 'Good choice',
 'Perfect product!',
 'Wonderful',
 'Terrific purchase',
 'Great product',
 'Simply awesome',
 'Mind-blowing purchase',
 'Terrific purchase',
 'Excellent',
 'Simply awesome',
 'Good quality product',
 'Very poor',
 'Perfect product!',
 'Must buy!',
 'Fabulous!',
 'Mind-blowing purchase',
 'Mind-blowing purchase',
 'Wonderful',
 'Worth every penny',
 'Great product',
 'Very Good',
 'Perfect product!',
 'Classy product',
 'Perfect product!',
 'Just wow!',
 'Awesome',
 'Terrific',
 'Terrific purchase',
 'Awesome',
 'Classy product',
 'Brilliant',
 'Terrific',
 'Perfect product!',
 'Awesome',
 'Perfect product!',
 'Very poor',
 'Fabulous!',
 'Excellent',
 'Must buy!',
 'Value-for-money',
 'Brilliant',
 'Terrific purchase',
 'Good quality product',
 'Perfect product!',
 'Awesome',
 'Value-for-money',
 'Just wow!',
 'Super!',
 'Best in the market!',
 'Classy product',
 'Highly recommended',
 'Mind-blowing purchase',
 'Must buy!',
 'Excellent',
 'Excellent',
 'Terrific',
 'Pretty good',
 'Nice product',
 'Mind-blowing purchase',
 'Does the job',
 'Wonderful',
 'Worth every penny',
 'Worth every penny',
 'Fabulous!',
 'Classy product',
 'Awesome',
 'Wonderful',
 'Terrific purchase',
 'Awesome',
 'Decent product',
 'Super!',
 'Fabulous!',
 'Just wow!',
 'Mind-blowing purchase',
 'Excellent']

In [91]:
#scraping data of iphone full review
full_rev=[] #empty list
for i in page_url:
    driver.get(i)
    fure_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    for i in fure_tags:
        full_rev.append(i.text)
full_rev[:100]

['The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',
 'Totally in love with this ❤ the camera quality is amazing just love it 😘😘😘 itsss dammnnnnnn amazing... Must buy iPhone 11 this is my best experience ever ☀👌👌🧡🧡🧡🧡🧡 thanku apple ❤',
 'Best budget Iphone till date ❤️ go for it guys without second thought. Let me explain you guys about Camera, Display, battery, and performance.\n\nCamera: at this price range there is no comparison of camera, you’ll love the picture quality as well as video quality. I am a Vlogger I wanted an iPhone with 4k video by front camera and I got this phone and I am more than happy 😃\n\nBattery: I use this phone roughly as I am active social media person and I have a youtube channel. so the battery ba...\nREAD MORE',
 "Iphone is just awesome.. battery backup is very very nice.. continuously for 10 hours we can use it.camera is just awesome.. display is just fab.i love it alot..i had to wait 15 days for it as i pre ordered it..overalll it's worth the price..these all images are clicked by my iPhone..and i love it.",
 'Excellent camera, good performance, no lag. The lcd display is also good.. but difference come when we watch movie in prime and Netflix, the colours are not vibrant.. as we see in amoled display.. and the charger in box is of 5 watts.. takes more than 3 hours to charge from 0 to 100.. so guys be prepare to buy 18 watts charger . Finally I am an android user, it was my first Iapple phone, I promise u guys the iOS is so smooth.. overall the phone is damn good.... close eyes to buy it.. thanks t...\nREAD MORE',
 "It's my first time to use iOS phone and I am loving my upgradation 😍😍 I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing.\n\nThis phone not only for good quality photography but a lot of other task too.😍💯",
 'It’s been almost a month since I have been using this phone. I upgraded from an iPhone 8. The main issue with my 8 was battery and this phone is just awesome when it comes to battery. It lasts a day and a half for me with my regular use , internet connected always with 4g\nCan’t move forward without saying this. Battery of this phone is a life saver when I am traveling or at work when I don’t get the option to charge\nCamera is superb. Front cam selfies and back cam photos are just awesome.\n...\nREAD MORE',
 'Really worth of money. i just love it. It is the best phone ever.',
 'Awesome Phone. Slightly high price but worth. Better than iPhone XR.\nCamera is superb and wide angle camera is very clear.\n12MP selfie camera is also very good.\nA13 Chip gives a very good and smooth performance.',
 'This is my first ever I phone. Before this I was using my google nexus 5. But moving from android to iOS is a great experience. It’s worth at this price. I will highly recommend it if you want to move to iOS. The best part of this phone is it’s camera and it’s battery life. This two things have won my heart. I loved it. Happy to have it in my hand. Still exploring its features. And can’t forget to mention Flipkart service. Very prompt service and fast delivery.',
 'Superb Product !!!\nA big and worthy upgrade from mi 3S to iphone 11 .\nTotally loved it !',
 'I have migrated from OP 7pro... and trust me, iPhone 11 is totally worth it.. following are the reasons:-\n1)there is ABSOLUTELY NO ISSUE WITH THE DISPLAY... its crisp, sharp and I found it to be much much better than OP7 pro. Netflix, Prime video all run crisply... you won’t miss a thing. True Tone works flawlessly...the display brightness is perfect. OP have not calibrated their screens properly.\n2) iPhone 11 series have really good cameras... others have spoken in depth about them.\n3) bat...\nREAD MORE',
 'It’s an amazing product from apple and the camera is simply superb. Phone is faster.Night shot is simply superb and detailing and colour differentiation from camera is an added advantage\n\nThis review I have written from iPhone 11 only and I am glad to say outside.\n\nCons wise if we see HD+ display only, no battery percentage indicator as in older iPhone 8.\nNo assistive touch control button in it\nNo oleophobic coating on back panel glass and finger prints are visible but since I bought mint gr...\nREAD MORE',
 'Looking so good 👍 😍 super 👌 stylish 😎 phone\nClean box 📦 good 👍 delivery 👌 fast delivery\nOriginal box Original iphone 📱 👌 😍😍😍',
 'After 1 month use I found camera quality best compared to my previous Samsung note 10+.Display not good as note 10 also charging too slow.Apple should add fast charger like 11 plus and pro.Best phone for daily use',
 'I just directly switch from iphone 6s to iphone 11 .The best premium smartphone I recommend to everyone. Excellent quality and colors the iphone have in 11 series.\nCamera quality is just awesome and the major feel when we hold in our hands. The sound quality and volume is also higher then the previous models.\nI will recommend to buy iphone 11 instead of pro models , there is nothing much difference as this model contains everything which fulfill our needs.\n\nOnly one thing that I dislike abo...\nREAD MORE',
 'Upgraded from iphone 6 to 11 best phone for iphone users battery is much better than other iphones camera is awesome love to use it.camera is so clear in night.',
 'Well you all know the specifications . One of a kind. Best iPhone till date. Many enhancements to the camera app with many options. Love the glass body with matte finish in the lens area on the back. Lovely colours to choose from. Best battery in an iPhone till date, enough to last more than a day in normal usage. I tested my iPhone 11 battery and lasted for than 24 hours after full charge still with 30% battery charge left. Watched movies for some time. Normal usage on calls, browsing, musi...\nREAD MORE',
 "It's very high performances devise i am like the service of flipkart delevary very fast and packing very nice perfect phone",
 'This will help you more. See if you are planning to buy iPhone 11. I will say. Yes. But there are some plans I just want to disclose before you buy. 1) If you are an existing iPhone X/XS/XS Max/ XR user, better you guys do not think it to buy. You guys have more or less better gadget. 2) If you are an android user and planning to buy premium phone. I will suggest them to please buy iPhone instead of buying an Android. I bet you will never go back to android after using IOS. Now I want to shar...\nREAD MORE',
 'The built quality is not very premium.\nThe battery back is great .\nThe LCD panel is not so sharp but the brightness level is very High .\nCamera is super duper awesome.\nThe red colour which people think is bright is actually very soothing and excellent colour to choose from .\nThe A13 Bionic chip is really a flagship processor and can beat any phone which even has 12 gb ram .\nCamera module is very great and looks very stylish.',
 'Amazing camera and feel super machine I am not describe my feeling but this is amazing Phone I am so lucky I have this',
 'Really good actually this is my first apple product am using its really awesome performance wise excellent. Am really happy with this iphone11',
 'it is very good at performance. Camera is best like before and very smooth response even in water. Don’t buy 12 mini buy iPhone 11 , it is far better than 12 mini believe me ! Have a nice day \uf8ff ☺️',
 'Reviewing again after 5 months. At the beginning the battery and performance was good but it degraded soon. Also I was facing heating issues. The mobile will heat up like a stove sometimes. You cannot even play Pubg even in low settings properly, performance is not a problem but heating is. Also if you play that game for 10 mins the brightness will be automatically down due to over heating even when the auto brightness is set to off. This will not be solved even if u manually increase the bri...\nREAD MORE',
 'It is just awesome mobile for this price from Apple,\n\nAfter 10 days review\n\nBattery enough for 1 day even 24*7 Internet will be on and mostly internet usage\n\nCamera is just awesome cool , android 64 MP is equal to this just 12 MP\n\nA13 Bionic chip will give more high performance without hanging\n\nAudio stereo speakers will give Dolby atoms sound with crystal clear\n\nVideo recording is like cinematic shots of every sec can be a 4K 60fps. Just awesome this phone\niPhone 11 loved one',
 'Best Apple iPhone that i have bought at a very reasonable price, camera quality is next level just awesome n of superior quality android phones not even close(RIP) to that and also battery is really good but packaging by Flipkart of iPhone was very poor of such a expensive product, firstly im bit worried about the quality of product if i purchased it through online how was the product but i think now this was mine best decision to bought it through Flipkart online because i got genuine Apple...\nREAD MORE',
 "I can say I'm damn impressed with iPhone 11. As they says iPhone 11 have the toughest glass ever in the smartphone which you'll find on the front and back and it's totally smooth. The fit and finish is full apple quality - there's no sense that any cheaping out has happened in the construction. Without saying it's camera features this review won't complete. The iPhone 11 has a dual camera system, consisting of a wide angle len's that's pretty much same as found on the iPhone XR last year, but...\nREAD MORE",
 'Best Quality Product OF iPhone Series , Sound Quality & Camera quality is very awesome, Battery Life is very Sufficient for 24 hr Backup With Full Internet Access , I love this this Product too much , It is very fast & making me Very fast in all my daily Routine\nHighlights;\n1.Camera: 5 STAR\n2.Video Recording: 5 star\n3.Night mODE sHOOTING & Camera:4 star\n4. Audio Quality: Awesome\n5. Battery : 5 Star\n6. Touch:5 Star\n7. Processor: Very Fast\nThe M...\nREAD MORE',
 'First thanks to Flipkart for this amazing deal and phone is outstanding. I upgraded from iPhone 7 and this is like very big upgrade. But the packaging was very basic I expected a good packaging as they only wrapped one layer of bubble wrap which I don’t think is enough to protect this expensive phone. And I recommend this phone and seller as well.\n\nAnd I’m posting this review after using it for 4 days.',
 'Superfast delivery by Flipkart. Thanks.\n\n1. iPhone 11 is a pretty solid phone for the money you are paying.\n2. All the bad reviews about the display is confusing. It’s not that bad.\n3. I switched from a Oneplus 7t. I have no complaints about the display quality of iPhone. Yes, it’s not OLED, so, we are missing on the deep blacks. But that’s it. It is a very colour accurate display. Gets adequately bright and I could not find any pixelation.\n4. Performance is one of the best, if not best, in ...\nREAD MORE',
 'Smooth like butter, camera like fantabulous, sound is crystal clear & its red color is damn attractive, i am just loving it. Must buy if you love photography.\n\nLucky to get it in sale, thank you Flipkart.',
 "Again back to apple iphone after a gap of 2-3 years. It's pleasure to use iOS and the quality product by Apple. Iphone 11 still works like a beast in 2021 also. It really capable of doing day to day usage as well as hard core gaming. Battery is awesome. I'm really too much satisfied with it. Apart fto the very gorgious IPS LCD (AMOLED will be better) everything is mind boggling. Iphone💕.",
 'impressive super phone and best in class camera ,sound and face unlock is super fast just see and phone is unlock and fast in daily apps use',
 'Battery backup is extraordinary, camera is decent & performance offered by A13 bionic is awsome. The display is good in practical usage like the visibility of display is very good in direct sun light compare to pro models. Iam extremely satisfied for the money I spent.',
 'Well while switching from android to iOS the first thing you need to be careful about is that you will loose all your whatsapp chat backups as both are different operating systems. Camera clarity is awesome and though being an lcd screen clarity and resolution is good. Battery backup is also good unlike previous gen iPhone. So far the experience is good will Padre after a few months of usage.\n\nP.S the black is more of a dark grey shade and not jet black',
 'In love with this iphone great performance,camera ,battery everything. Go for it have a uncompareble battery backup, no doubts in iPhone camera here You can see the picture which is shot on my iPhone In love with this iphone great performance,camera ,battery everything. Go for it have a uncompareble battery backup, no doubts in iPhone camera here You can see the picture which is shot on my iPhone In love with this iphone great performance,camera ,battery everything. Go for it have a uncompare...\nREAD MORE',
 'Best in class. Battery backup is good especially when you play games like Pubg COD. But it is sort of heavy when you hold in hands. Portrait mode is best to click pictures. Stage light effect is awesome. Try to click photos outside in nature because photos inside home or room will not give you the quality in any phone even in DSLR.',
 'Very excited to have this phone. This phone has the real power unlike the android phones having SD 855 . The battery life is very good and the camera quality is excellent as comapred to redmi and other phones except google pixel. I M enjoying every single bit of it. Would recommed only if you have the budget.',
 "I upgraded (downgraded?) from my iPhone X since the phone fell down and I didn't want to repair the screen. The box that the phone came in was super slim and I was worried that there'd be no 5W charger with it and my fears were confirmed. However, thankfully I had the 18W USB-C PD charger from Apple which I bought for my iPhone X and it worked perfectly. The charging time is as lethargic as ever though and it takes about 1:30 mins or even 2 hours depending on charge remaining. I'll list some ...\nREAD MORE",
 'Its Very awesome product working and good camera quality and all about best product and also flipkart is very great deal and offer nice price',
 'I am using this phone for 5 days and its one of the best camera out there ❤️ the screen is not oled and i am coming from iphone xs so its little bit not up to the mark i would say\nBut overall value for money💕😍the battery back up is far better than my iphone xs and its worth in my apple ecosystem💫❤️if u are an apple User and have the eco system then go for it❤️though i will be getting the new iphone but its pretty good💫',
 'Best and amazing product.....phone looks so premium.... battary is also good as expected .... Wide angle camera is so addictive ...if you are a IOS lover....then this phone will be the best choice for you all!!💯🔥',
 'Excellent camera and display touching very nice and smooth very improvement against iPhone XR and new processor is very fast',
 "I got this beast today. And I must say the picture quality of its camera is awesome. Both the cameras works fine.\n\nAs for as the processing is concerned, it runs without any lag. You can play and do whatever you want without a glitch.\n\nThe battery runs for a day with medium and high workload.\n\nThe display is good and the speakers are working fine.\n\nThe earphones doesn't have any base and you can use it for calling mostly.\n\nThe charging time is approximately for 90 minutes for full charging...\nREAD MORE",
 'Awesome purchase. Amazing phone with good battery backup. It’s a top notch device. White colour looks amazing. Phone has a few extra feature than iPhone XR. Overall, this is value for money',
 'Always love the apple products, upgraded from old iPhone 6S plus to this after having my first baby. I just love to click baby’s photos with it. Overall I just love this phone. Battery back up is okay, sound quality is good. Haven’t tested yet waterproof yet. Only one thing I hate is apple could have given charger & headphones in box.',

# DataFraming:

In [92]:
#Creating data frame for scraped data
iphone_11=pd.DataFrame({})
iphone_11['Ratings']=iphone_rat[:100]
iphone_11['Review summary']=review_sum[:100]
iphone_11['Full review']=full_rev[:100]

In [93]:
iphone_11

,Ratings,Review summary,Full review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Fabulous!,This is my first iOS phone. I am very happy wi...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Super!,This is my first ever iPhone.\nAnd I truly don...
96,5,Fabulous!,Everything is perfect pictures come out so cle...
97,5,Just wow!,The ultimate performance\nCamera is superb\nTh...
98,5,Mind-blowing purchase,Excellent camera 📸 And Display touching very N...
99,5,Excellent,A perfect phone and a good battery super camer...

This is the required dataframe scraped using selenium.

# Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %

In [94]:
driver = webdriver.Chrome('chromedriver.exe')

In [95]:
url='https://www.flipkart.com/'
driver.get(url)

This is the web page from which i have to scrap data.

In [96]:
#Searching item type
search_item=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_item

Got the web element for searching item using xpath.

In [97]:
search_item.send_keys('Sneakers')

In [98]:
#Clicking on search button
search_btn=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

In [99]:
#scraping all urls from flipkart web page.
page_url=[] #empty list
url=driver.find_elements_by_xpath("//nav[@class='yFHi8N']//a")
for i in url:
    page_url.append(i.get_attribute("href"))
page_url

['https://www.flipkart.com/search?q=Sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=1',
 'https://www.flipkart.com/search?q=Sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2',
 'https://www.flipkart.com/search?q=Sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3',
 'https://www.flipkart.com/search?q=Sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=4',
 'https://www.flipkart.com/search?q=Sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=5',
 'https://www.flipkart.com/search?q=Sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=6',
 'https://www.flipkart.com/search?q=Sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=7',
 'https://www.flipkart.com/search?q=Sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=8',
 'https://www.flipkart.com/search?q=Sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=9',
 'https://www.flipkart.com/search?q=Sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=10',
 'https://www.flipkart.com/search?q=Sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2']

In [100]:
#scraping data of sneakers brand
snea_brands=[] #empty list
for i in page_url:
    driver.get(i)
    brand_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for i in brand_tags:
        snea_brands.append(i.text)
snea_brands[:100]

['Chevit',
 'PEHANOSA',
 'ASTEROID',
 'Chevit',
 'luxury fashion',
 'Numenzo',
 'World Wear Footwear',
 'Numenzo',
 'Shoes Bank',
 'BRUTON',
 'Creer',
 'bluemaker',
 'Chevit',
 'PUMA',
 'Zsyto',
 'Chevit',
 'Red Rose',
 'Chevit',
 'HOTSTYLE',
 'BIRDE',
 'Kraasa',
 'Longwalk',
 'Ktiz',
 'Robbie jones',
 'Chevit',
 'believe',
 'ROCKFIELD',
 'India hub',
 'SCATCHITE',
 'Absolute comfort',
 'T-ROCK',
 'RODDICK SHOES',
 'World Wear Footwear',
 'SPARX',
 'restinfoot',
 'RODDICK SHOES',
 'Nilatin',
 'HOC',
 'Arohi',
 'TR',
 'Rising Wolf',
 'World Wear Footwear',
 'WRIZT',
 'bluemaker',
 'Robbie jones',
 'Robbie jones',
 'Nilatin',
 'Zorth',
 'BRUTON',
 'D-SNEAKERZ',
 'Numenzo',
 'Jokatoo',
 'Chevit',
 'Creer',
 'Jack Diamond',
 'Ktiz',
 'RED TAPE',
 'World Wear Footwear',
 'SPARX',
 'luxury fashion',
 'Zorth',
 'Edoeviv',
 'ORICUM',
 'Echor',
 'Zsyto',
 'BRUTON',
 'VIPSJAZZY',
 'SPARX',
 'Wakefield',
 'SPARX',
 'Magnolia',
 'PUMA',
 'Chevit',
 'Kraasa',
 'Labbin',
 'BRUTON',
 'Edoeviv',
 'World Wear Footwear',
 'Labbin',
 'Wakefield',
 'ESSENCE',
 'BRUTON',
 'BRUTON',
 'HOCKWOOD',
 'Numenzo',
 'D-SNEAKERZ',
 'ESSENCE',
 'SHOEFLY',
 'SEGA',
 'SPARX',
 'Bonexy',
 'bluemaker',
 'Zixer',
 'Tying',
 'Chevit',
 'tigonis',
 'Chevit',
 'Chevit',
 'HOCKWOOD',
 'SPARX']

In [101]:
#scraping data of sneakers product description
pro_description=[] #empty list
for i in page_url:
    driver.get(i)
    des_tags=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    for i in des_tags:
        pro_description.append(i.text)
pro_description[:100]

['Unique & Perfect Collection Combo Pack of 02 Shoes for ...',
 'Sneakers For Men',
 'Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Sneakers For Men',
 '5011-Latest Collection Stylish Casual Loafer Sneakers S...',
 'Luxury Fashionable casual sneaker shoes Sneakers For Me...',
 'Sneakers For Men',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 'Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...',
 'casual for men (blue 06) Sneakers For Men',
 'Perfect & Affordable Combo Pack of 03 Pairs Casual Snea...',
 'Men Boxer Sneakers For Men',
 'Hip Hop Mid Perf IDP Sneakers For Men',
 'Speed Set of 5 Pairs Sneakers Outdoors Casuals for Men ...',
 '494 Perfect Sports Shoes for Running Training Hikking &...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack of 4 Casual Shoes Sneakers For Men',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 'Sneakers for men(black_9) Sneakers For Men',
 'Perfect & Affordable Combo Pack of 02 Pairs Sneakers Ou...',
 'Sneakers For Men',
 'Fashionable casual sneakers shoes Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Synthetic Leather Casual Partywear Wedding Sneakers Sho...',
 'Fashion Outdoor Canvas Casual Light Weight Lace-up Even...',
 'Men 5014 Latest Collection Stylish Casual Sports Loafer...',
 'Black Sneaker For Men Sneakers For Men',
 'Casual shoes Sneakers For Men',
 'Fashion Outdoor Canvas Casual Light Weight Lace-up Even...',
 'Series 7 Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Luxury Fashionable Breathable White shoes for men Sneak...',
 'Sneakers For Men',
 'Latest Collection-1227 Stylish Casual Sports Sneakers F...',
 'casual for men (beige 07) Sneakers For Men',
 'Sneakers For Men',
 'Casual Sneakers Shoes For Men And Boys Sneakers For Men',
 'White Sneaker for Men Sneakers For Men',
 'New Fashion Outdoor Trendy Lightweight Casual,Canvas St...',
 'Modern & Trendy Collection Combo Pack of 02 Shoes for M...',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'Sneakers For Men',
 'Super 445 Fashion Sneakers For Men',
 'Rockstyle Trending Multicolor Ultralight canvas Sport/ ...',
 'Sneakers For Men',
 'Men White Sneakers Sneakers For Men',
 'Fashionable casual sneaker shoes Sneakers For Men',
 'Sneakers For Men',
 "Luxury Branded Fashionable Men's Casual Walking Partywe...",
 'Combo pack of 2 casual sneaker shoes for men Sneakers F...',
 'Trend Sneakers For Men',
 'Lattest Sneakers Shoe Sneakers For Men',
 'SM-322 Sneakers For Men',
 'Sneakers For Men',
 'Canvas Casual Partywear Outdoor Sneakers Shoes For Mens...',
 'White Sneakers Sneakers For Men',
 'Acrux IDP Sneakers For Men',
 "Super & Trendy Men's Pack of 02 Pair Shoes for Boys Cas...",
 'Shark-41 Sneakers For Men',
 'Sneakers For Men',
 'Modern & Trendy Collection Combo Pack of 02 Shoes for M...',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Combo Pack of 4 Latest Collection Stylish Casual Loafer...',
 'Casual Sneakers White Shoes For Men And Boys Sneakers F...',
 'Sneakers For Men',
 'Trendy Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Modern & Trendy Collection Combo Pack of 02 Shoes for M...',
 'White Sneaker For Men Sneakers For Men',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Re...",
 'Sneakers For Men',
 'Combo Men Pack of 2 Loafers Shoes Sneakers For Men',
 'Sneakers For Men',
 'SM-162 Sneakers For Men',
 'Sneakers For Men',
 'casual for men Sneakers For Men',
 'Model name: New Latest Affordable Range of Combo Pack o...',
 '168 Smart Red Lace-Ups Casuals for Men Sneakers For Men',
 'Sneakers For Men',
 'Smart Casuals Canvas Shoes Combo pack of 2 Sneakers For...',
 'Affordable Combo Pack of 03 Pairs Sneakers Outdoor Loaf...',
 'Casual Sneakers Shoes For Men Sneakers For Men',
 'Luxury Fashionable casual sneaker shoes Sneakers For Me...',
 'SM-675 Sneakers For Men',
 'Puma Smash v2 L Sneakers For Men',
 'Casual Sneakers Sneakers For Men',
 "Men's Ultraforce Mid-top Athletic-Inspired Retro Fashio...",
 'Men & Boys Stylish, Comfortable Mesh Shoes With Soft La...',
 'Combo Pack of 2 Casual Shoes Sneakers For Men',
 'Fashionable casual sneakers shoes Sneakers For Men',
 'Perfect & Affordable Combo Pack of 02 Pairs Sneakers Ou...',
 'Fashion Outdoor Canvas Casual Light Weight Lace-up Even...',
 'Casual Sneakers White Shoes For Men Sneakers For Men',
 'JESS Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men']

In [102]:
#scraping data of sneakers price
price=[] #empty list
for i in page_url:
    driver.get(i)
    pri_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    for i in pri_tags:
        price.append(i.text)
price[:100]

['₹420',
 '₹419',
 '₹536',
 '₹499',
 '₹378',
 '₹240',
 '₹399',
 '₹426',
 '₹349',
 '₹418',
 '₹474',
 '₹399',
 '₹594',
 '₹260',
 '₹311',
 '₹2,042',
 '₹679',
 '₹254',
 '₹399',
 '₹279',
 '₹698',
 '₹384',
 '₹449',
 '₹447',
 '₹499',
 '₹404',
 '₹398',
 '₹358',
 '₹474',
 '₹240',
 '₹620',
 '₹198',
 '₹426',
 '₹341',
 '₹474',
 '₹399',
 '₹449',
 '₹399',
 '₹464',
 '₹378',
 '₹512',
 '₹240',
 '₹279',
 '₹399',
 '₹499',
 '₹499',
 '₹407',
 '₹450',
 '₹504',
 '₹348',
 '₹407',
 '₹418',
 '₹348',
 '₹398',
 '₹635',
 '₹429',
 '₹1,649',
 '₹240',
 '₹625',
 '₹369',
 '₹439',
 '₹449',
 '₹398',
 '₹499',
 '₹378',
 '₹287',
 '₹399',
 '₹769',
 '₹218',
 '₹669',
 '₹311',
 '₹1,913',
 '₹420',
 '₹399',
 '₹499',
 '₹499',
 '₹474',
 '₹499',
 '₹399',
 '₹199',
 '₹353',
 '₹319',
 '₹499',
 '₹664',
 '₹407',
 '₹346',
 '₹353',
 '₹379',
 '₹637',
 '₹730',
 '₹424',
 '₹399',
 '₹555',
 '₹888',
 '₹232',
 '₹359',
 '₹322',
 '₹594',
 '₹674',
 '₹620']

In [103]:
#scraping data of sneakers discount
discount=[] #empty list
for i in page_url:
    driver.get(i)
    dis_tags=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span")
    for i in dis_tags:
        discount.append(i.text)
discount[:100]

['71% off',
 '58% off',
 '66% off',
 '75% off',
 '62% off',
 '51% off',
 '69% off',
 '78% off',
 '65% off',
 '58% off',
 '86% off',
 '60% off',
 '77% off',
 '47% off',
 '76% off',
 '41% off',
 '72% off',
 '74% off',
 '60% off',
 '72% off',
 '65% off',
 '61% off',
 '55% off',
 '75% off',
 '50% off',
 '86% off',
 '60% off',
 '64% off',
 '52% off',
 '51% off',
 '11% off',
 '60% off',
 '67% off',
 '65% off',
 '52% off',
 '60% off',
 '77% off',
 '60% off',
 '53% off',
 '81% off',
 '67% off',
 '51% off',
 '72% off',
 '60% off',
 '50% off',
 '50% off',
 '68% off',
 '54% off',
 '79% off',
 '47% off',
 '59% off',
 '71% off',
 '30% off',
 '60% off',
 '36% off',
 '66% off',
 '70% off',
 '51% off',
 '16% off',
 '78% off',
 '56% off',
 '55% off',
 '60% off',
 '50% off',
 '70% off',
 '77% off',
 '60% off',
 '23% off',
 '68% off',
 '10% off',
 '68% off',
 '42% off',
 '78% off',
 '60% off',
 '50% off',
 '80% off',
 '40% off',
 '81% off',
 '60% off',
 '60% off',
 '64% off',
 '75% off',
 '80% off',
 '33% off',
 '68% off',
 '65% off',
 '64% off',
 '62% off',
 '36% off',
 '23% off',
 '57% off',
 '60% off',
 '44% off',
 '55% off',
 '53% off',
 '80% off',
 '67% off',
 '74% off',
 '32% off',
 '11% off']

# DataFraming:

In [104]:
#Creating data frame for scraped data
sneakers=pd.DataFrame({})
sneakers['Brand']=snea_brands[:100]
sneakers['Product description']=pro_description[:100]
sneakers['Price']=price[:100]
sneakers['Discount']=discount[:100]

In [105]:
sneakers

,Brand,Product description,Price,Discount
0,Chevit,Unique & Perfect Collection Combo Pack of 02 S...,₹420,71% off
1,PEHANOSA,Sneakers For Men,₹419,58% off
2,ASTEROID,Super Stylish & Trendy Combo Pack of 02 Pairs ...,₹536,66% off
3,Chevit,Original Luxury Branded Fashionable Men's Casu...,₹499,75% off
4,luxury fashion,Sneakers For Men,₹378,62% off
...,...,...,...,...
95,tigonis,Fashion Outdoor Canvas Casual Light Weight Lac...,₹359,80% off
96,Chevit,Casual Sneakers White Shoes For Men Sneakers F...,₹322,67% off
97,Chevit,JESS Sneakers For Men,₹594,74% off
98,HOCKWOOD,Sneakers For Men,₹674,32% off
99,SPARX,Sneakers For Men,₹620,11% off

This is the required dataframe scraped using selenium.

# Q9: Go to the link - https://www.myntra.com/shoes Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”.And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe.

In [106]:
driver = webdriver.Chrome('chromedriver.exe')

In [107]:
url='https://www.myntra.com/shoes'
driver.get(url)

In [108]:
#Adding price filters
price_filter=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
price_filter.click()
time.sleep(2)

In [109]:
#Adding color filters
color_filter=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
color_filter.click()

In [110]:
#scraping shoe brand data
br=driver.find_elements_by_xpath("//h3[@class='product-brand']")

In [111]:
brand=[] #empty list
for i in range(1,4):
    for j in br:
        brand.append(j.text)
    next_button=driver.find_element_by_xpath("//li[@class='pagination-next']/a")
    next_button.click

In [112]:
#Checking length of brand list
len(brand)

150

In [113]:
brand[:100]

['ADIDAS',
 'Nike',
 'Nike',
 'Geox',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'Puma',
 'UNDER ARMOUR',
 'Geox',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'Puma',
 'TARMAK By Decathlon',
 'PUMA Hoops',
 'Skechers',
 'UNDER ARMOUR',
 'Hush Puppies',
 'FORCLAZ By Decathlon',
 'Hush Puppies',
 'Hush Puppies',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'FILA',
 'ADIDAS',
 'Metro',
 'Geox',
 'Hush Puppies',
 'Puma',
 'UNDER ARMOUR',
 'Puma',
 'Lacoste',
 'Quechua By Decathlon',
 'Puma',
 'Puma',
 'UNDER ARMOUR',
 'H&M',
 'Puma',
 'Quechua By Decathlon',
 'Quechua By Decathlon',
 'Hush Puppies',
 'Hush Puppies',
 'Reebok',
 'FORCLAZ By Decathlon',
 'Geox',
 'Hush Puppies',
 'Geox',
 'Geox',
 'Cole Haan',
 'Geox',
 'ADIDAS',
 'Nike',
 'Nike',
 'Geox',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'Puma',
 'UNDER ARMOUR',
 'Geox',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'Puma',
 'TARMAK By Decathlon',
 'PUMA Hoops',
 'Skechers',
 'UNDER ARMOUR',
 'Hush Puppies',
 'FORCLAZ By Decathlon',
 'Hush Puppies',
 'Hush Puppies',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'FILA',
 'ADIDAS',
 'Metro',
 'Geox',
 'Hush Puppies',
 'Puma',
 'UNDER ARMOUR',
 'Puma',
 'Lacoste',
 'Quechua By Decathlon',
 'Puma',
 'Puma',
 'UNDER ARMOUR',
 'H&M',
 'Puma',
 'Quechua By Decathlon',
 'Quechua By Decathlon',
 'Hush Puppies',
 'Hush Puppies',
 'Reebok',
 'FORCLAZ By Decathlon',
 'Geox',
 'Hush Puppies',
 'Geox',
 'Geox',
 'Cole Haan',
 'Geox']

In [114]:
#short shoe description
des=driver.find_elements_by_xpath("//h4[@class='product-product']")

In [115]:
description=[] #empty list
for i in range(1,4):
    for j in des:
        description.append(j.text)
    next_button=driver.find_element_by_xpath("//li[@class='pagination-next']/a")
    next_button.click

In [116]:
#Checking length of description list
len(description)

150

In [117]:
description[:100]

['Women Response SR Running',
 "Men BlazerLow '77 Sneakers",
 'Men Crater Remixa Sneakers',
 'Men Solid Sneakers',
 'Men Charged Pursuit 2 SE',
 'Men Charged Pursuit 2 SE Shoes',
 'Unisex Project Rock Recruit',
 'Mesh Hybrid Fuego Running',
 'Men Charged Assert 8 Marble',
 'Men Woven Design Sneakers',
 'Men Charged Rogue 2.5 RFLCT',
 'Men Phade Running Shoes',
 'Men SOFTRIDE Rift Shoes',
 'Men Basketball Shoes',
 'Unisex Clyde Basketball Shoes',
 'Men Equalizer 4.0 Trail',
 'GS SC 3Zero IV Basketball',
 'Men Leather Slip-On Sneakers',
 'TREKKING 100 Boots',
 'Men Leather Slip-On Sneakers',
 'Men Solid Leather Formal Oxfords',
 'Men Charged Commit 3 Training',
 'Women Charged Rogue 2.5ClrSft',
 'Men Running Shoes',
 'Women SUPERNOVA Running Shoes',
 'Women High-Top Heeled Boots',
 'Men Leather Formal Derbys',
 'Men Leather Monk Shoes',
 'Women Eternity Nitro Running',
 'Men HOVR Sonic STRT Tech Shoes',
 'Men Leader VT Running Shoes',
 'Men Woven Design Slip-On Sneakers',
 'Men Trekking Shoes',
 'Unisex Connect Splash Trainers',
 'Women Deviate Nitro Running',
 'Women Charged Bandit 6 Running',
 'Black Leather boots',
 'Women Velocity Nitro Running',
 'Waterproof Walking Shoes',
 'Women Waterproof Hiking Shoes',
 'Men Leather Derbys',
 'Men Solid Leather Formal Slip-Ons',
 'Forever Floatride Energy 2',
 'Men Hiking Shoes',
 'Women Leather Horsebit Loafers',
 'Men Solid Leather Formal Slip-Ons',
 'Men Textured Leather Driving Shoes',
 'Men Leather Driving Shoes',
 'Men GENERATION ZEROGRAND STITCHLITE',
 'Men Leather Slip-On Sneakers',
 'Women Response SR Running',
 "Men BlazerLow '77 Sneakers",
 'Men Crater Remixa Sneakers',
 'Men Solid Sneakers',
 'Men Charged Pursuit 2 SE',
 'Men Charged Pursuit 2 SE Shoes',
 'Unisex Project Rock Recruit',
 'Mesh Hybrid Fuego Running',
 'Men Charged Assert 8 Marble',
 'Men Woven Design Sneakers',
 'Men Charged Rogue 2.5 RFLCT',
 'Men Phade Running Shoes',
 'Men SOFTRIDE Rift Shoes',
 'Men Basketball Shoes',
 'Unisex Clyde Basketball Shoes',
 'Men Equalizer 4.0 Trail',
 'GS SC 3Zero IV Basketball',
 'Men Leather Slip-On Sneakers',
 'TREKKING 100 Boots',
 'Men Leather Slip-On Sneakers',
 'Men Solid Leather Formal Oxfords',
 'Men Charged Commit 3 Training',
 'Women Charged Rogue 2.5ClrSft',
 'Men Running Shoes',
 'Women SUPERNOVA Running Shoes',
 'Women High-Top Heeled Boots',
 'Men Leather Formal Derbys',
 'Men Leather Monk Shoes',
 'Women Eternity Nitro Running',
 'Men HOVR Sonic STRT Tech Shoes',
 'Men Leader VT Running Shoes',
 'Men Woven Design Slip-On Sneakers',
 'Men Trekking Shoes',
 'Unisex Connect Splash Trainers',
 'Women Deviate Nitro Running',
 'Women Charged Bandit 6 Running',
 'Black Leather boots',
 'Women Velocity Nitro Running',
 'Waterproof Walking Shoes',
 'Women Waterproof Hiking Shoes',
 'Men Leather Derbys',
 'Men Solid Leather Formal Slip-Ons',
 'Forever Floatride Energy 2',
 'Men Hiking Shoes',
 'Women Leather Horsebit Loafers',
 'Men Solid Leather Formal Slip-Ons',
 'Men Textured Leather Driving Shoes',
 'Men Leather Driving Shoes',
 'Men GENERATION ZEROGRAND STITCHLITE',
 'Men Leather Slip-On Sneakers']

In [133]:
#scraping price of shoes
pri_tags=driver.find_elements_by_xpath("//div[@class='product-price']")

In [134]:
price=[] #empty list
for i in range(1,4):
    for j in pri_tags:
        price.append(j.text)
    next_button=driver.find_element_by_xpath("//li[@class='pagination-next']/a")
    next_button.click

In [135]:
#Checking length of price list
len(price)

150

In [136]:
price[:100]

['Rs. 5319Rs. 7599(30% OFF)',
 'Rs. 7195',
 'Rs. 5495',
 'Rs. 7999Rs. 9999(20% OFF)',
 'Rs. 6999',
 'Rs. 6999',
 'Rs. 9999',
 'Rs. 6999',
 'Rs. 6999',
 'Rs. 8799Rs. 10999(20% OFF)',
 'Rs. 7999',
 'Rs. 6499',
 'Rs. 6499',
 'Rs. 5499',
 'Rs. 6599Rs. 10999( 40 % OFF)',
 'Rs. 6499',
 'Rs. 7499',
 'Rs. 6299Rs. 6999(10% OFF)',
 'Rs. 6999',
 'Rs. 6999Rs. 9999(30% OFF)',
 'Rs. 5399Rs. 5999(10% OFF)',
 'Rs. 7999',
 'Rs. 7999',
 'Rs. 8499',
 'Rs. 6999Rs. 9999(30% OFF)',
 'Rs. 5490',
 'Rs. 8399Rs. 10499(20% OFF)',
 'Rs. 5399Rs. 5999(10% OFF)',
 'Rs. 7799Rs. 12999(40% OFF)',
 'Rs. 9999',
 'Rs. 5999',
 'Rs. 5525Rs. 8500(35% OFF)',
 'Rs. 9999',
 'Rs. 8999',
 'Rs. 9749Rs. 14999(35% OFF)',
 'Rs. 8999',
 'Rs. 5999',
 'Rs. 6599Rs. 10999(40% OFF)',
 'Rs. 5669Rs. 6999(19% OFF)',
 'Rs. 5499',
 'Rs. 5599Rs. 7999(30% OFF)',
 'Rs. 8999Rs. 9999(10% OFF)',
 'Rs. 5999Rs. 9999(40% OFF)',
 'Rs. 5579Rs. 5999(7% OFF)',
 'Rs. 6399Rs. 7999(20% OFF)',
 'Rs. 8099Rs. 8999(10% OFF)',
 'Rs. 9999',
 'Rs. 9990',
 'Rs. 9599Rs. 11999(20% OFF)',
 'Rs. 9490',
 'Rs. 5319Rs. 7599(30% OFF)',
 'Rs. 7195',
 'Rs. 5495',
 'Rs. 7999Rs. 9999(20% OFF)',
 'Rs. 6999',
 'Rs. 6999',
 'Rs. 9999',
 'Rs. 6999',
 'Rs. 6999',
 'Rs. 8799Rs. 10999(20% OFF)',
 'Rs. 7999',
 'Rs. 6499',
 'Rs. 6499',
 'Rs. 5499',
 'Rs. 6599Rs. 10999( 40 % OFF)',
 'Rs. 6499',
 'Rs. 7499',
 'Rs. 6299Rs. 6999(10% OFF)',
 'Rs. 6999',
 'Rs. 6999Rs. 9999(30% OFF)',
 'Rs. 5399Rs. 5999(10% OFF)',
 'Rs. 7999',
 'Rs. 7999',
 'Rs. 8499',
 'Rs. 6999Rs. 9999(30% OFF)',
 'Rs. 5490',
 'Rs. 8399Rs. 10499(20% OFF)',
 'Rs. 5399Rs. 5999(10% OFF)',
 'Rs. 7799Rs. 12999(40% OFF)',
 'Rs. 9999',
 'Rs. 5999',
 'Rs. 5525Rs. 8500(35% OFF)',
 'Rs. 9999',
 'Rs. 8999',
 'Rs. 9749Rs. 14999(35% OFF)',
 'Rs. 8999',
 'Rs. 5999',
 'Rs. 6599Rs. 10999(40% OFF)',
 'Rs. 5669Rs. 6999(19% OFF)',
 'Rs. 5499',
 'Rs. 5599Rs. 7999(30% OFF)',
 'Rs. 8999Rs. 9999(10% OFF)',
 'Rs. 5999Rs. 9999(40% OFF)',
 'Rs. 5579Rs. 5999(7% OFF)',
 'Rs. 6399Rs. 7999(20% OFF)',
 'Rs. 8099Rs. 8999(10% OFF)',
 'Rs. 9999',
 'Rs. 9990',
 'Rs. 9599Rs. 11999(20% OFF)',
 'Rs. 9490']

# DataFraming:

In [137]:
#Creating data frame for scraped data
shoes=pd.DataFrame({})
shoes['Brand']=brand[:100]
shoes['Short description']=description[:100]
shoes['Price']=price[:100]

In [138]:
shoes

,Brand,Short description,Price
0,ADIDAS,Women Response SR Running,Rs. 5319Rs. 7599(30% OFF)
1,Nike,Men BlazerLow '77 Sneakers,Rs. 7195
2,Nike,Men Crater Remixa Sneakers,Rs. 5495
3,Geox,Men Solid Sneakers,Rs. 7999Rs. 9999(20% OFF)
4,UNDER ARMOUR,Men Charged Pursuit 2 SE,Rs. 6999
...,...,...,...
95,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 8099Rs. 8999(10% OFF)
96,Geox,Men Textured Leather Driving Shoes,Rs. 9999
97,Geox,Men Leather Driving Shoes,Rs. 9990
98,Cole Haan,Men GENERATION ZEROGRAND STITCHLITE,Rs. 9599Rs. 11999(20% OFF)
99,Geox,Men Leather Slip-On Sneakers,Rs. 9490

This is the required dataframe scraped using selenium.

# Q10: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” .

After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
- 1. title
- 2. Ratings
- 3. Price

In [144]:
driver = webdriver.Chrome('chromedriver.exe')

In [145]:
url='https://www.amazon.in/'
driver.get(url)

In [146]:
#Searching item type
search_item=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search_item

In [147]:
search_item.send_keys('Laptop')

In [148]:
#Clicking on search button
search_btn=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search_btn.click()

In [149]:
#Adding cpu filters
cpu_filter=driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/ul[2]/li[26]/span/a/div/label/i')
cpu_filter.click()
time.sleep(2)

In [150]:
cpuf_filter=driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/ul[1]/li[28]/span/a/div/label/i')
cpuf_filter.click()

In [151]:
#Scraping title of laptop
tit_tags=driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")

In [152]:
lap_titles=[] #empty list
for i in tit_tags:
    lap_titles.append(i.text)
lap_titles[:10]

['HP Envy 11th Gen Core i7 Processor 13.3-inch (33.78 cms) FHD Touchscreen Laptop (16GB/1TB SSD/Win 10/NVIDIA MX450 2GB/Natural Silver/1.3 kg), 13-ba1018TX',
 'Lenovo Yoga 7 11th Gen Intel Core i7-1165G7 14" (35.56cm) FHD IPS 2-in-1 Touchscreen Laptop (16GB/512GB SSD/Windows 10/MS Office/Lenovo Digital Pen/Fingerprint Reader/Slate Grey/1.43Kg), 82BH004HIN',
 'MSI GF65 Thin, Intel i7-10750H, 15.6" FHD (39.6 cm) IPS-Level 144Hz Panel Laptop (16GB/512GB NVMe SSD/Windows 10 Home/Nvidia GTX1660 Ti 6GB GDDR6/Black/1.86Kg), 10SDR-1280IN',
 'HP Pavilion (2021) Thin & Light 11th Gen Core i7 Laptop, 16 GB RAM, 1TB SSD, Iris Xe Graphics, 14" (35.56cms) FHD Screen, Windows 10, MS Office, Backlit Keyboard (14-dv0058TU)',
 'Mi Notebook Horizon Edition 14 Intel Core i7-10510U 10th Gen 14-inch (35.56 cms) Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg), XMA1904-AF+Webcam',
 'HP Pavilion Gaming(2021) 10th Gen Intel Core i7 15.6-inch(39.6 cm) FHD IPS 144Hz Gaming Laptop (16GB/512GB SSD + 32GB Intel Optane/NVIDIA GTX 1650Ti 4GB/Win 10/MS Office/Shadow Black), 15-DK1511TX',
 'ASUS TUF Gaming F15 (2020), 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-10870H 10th Gen, NVIDIA GeForce GTX 1650 4GB Graphics, Gaming Laptop(8GB/512GB SSDWindows 10/Gray/2.3 Kg), FX566LH-HN255T',
 'HP Envy 11th Gen Core i7 Processor 13.3-inch (33.78 cms) FHD Touchscreen Laptop (16GB/1TB SSD/Win 10/NVIDIA MX450 2GB/Natural Silver/1.3 kg), 13-ba1018TX',
 'MSI GF75 Thin, Intel i7-10750H, 17.3" (43.9 cm) FHD IPS-Level 144Hz Panel Laptop (8GB/512GB NVMe SSD/Windows 10 Home/Nvidia GTX1650 4GB GDDR6/Black/2.2Kg), 10SCXR-654IN',
 'ASUS TUF Dash F15 (2021), 15.6" (39.62 cms) FHD 144Hz, Intel Core i7-11370H 11th Gen, RTX 3050 Ti 4GB Graphics, Gaming Laptop (16GB/1TB SSD/Office 2019/Windows 10/Eclipse Gray/2 kg), FX516PE-HN088TS']

In [159]:
# Scrapping the Price
pr = driver.find_elements_by_xpath("//span[@class='a-price-whole']")

In [160]:
price = []
for i in pr:
    price.append(i.text)
price[:10]

['1,09,990',
 '1,03,100',
 '81,990',
 '84,990',
 '59,490',
 '89,990',
 '71,990',
 '1,09,990',
 '74,990',
 '1,07,990']

In [161]:
# Scrapping Ratings
urls = []
all_url = driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")

In [162]:
for l in all_url[0:40]:
    urls.append(l.get_attribute('href'))

In [163]:
Ratings = []
for x in urls:
    driver.get(x)
    try:              
        driver.find_element_by_xpath("//span[@id='acrCustomerReviewText']").click()
        rating=driver.find_element_by_xpath("//span[@class='a-size-medium a-color-base']")
        Ratings.append(rating.text)
    except NoSuchElementException as e :
    
        Ratings.append("No rating")

In [164]:
Ratings[:10]

['4.1 out of 5',
 '4.2 out of 5',
 '3.7 out of 5',
 '4.3 out of 5',
 '4.4 out of 5',
 '4.4 out of 5',
 '4 out of 5',
 '4.1 out of 5',
 '4.6 out of 5',
 '4.6 out of 5']

# DataFraming:

In [165]:
#Creating dataframe for scraped data
laptop=pd.DataFrame({})
laptop['Title']=lap_titles[:10]
laptop['Ratings']=Ratings[:10]
laptop['Price']=price[:10]

In [166]:
laptop

                                               Title       Ratings     Price
0  HP Envy 11th Gen Core i7 Processor 13.3-inch (...  4.1 out of 5  1,09,990
1  Lenovo Yoga 7 11th Gen Intel Core i7-1165G7 14...  4.2 out of 5  1,03,100
2  MSI GF65 Thin, Intel i7-10750H, 15.6" FHD (39....  3.7 out of 5    81,990
3  HP Pavilion (2021) Thin & Light 11th Gen Core ...  4.3 out of 5    84,990
4  Mi Notebook Horizon Edition 14 Intel Core i7-1...  4.4 out of 5    59,490
5  HP Pavilion Gaming(2021) 10th Gen Intel Core i...  4.4 out of 5    89,990
6  ASUS TUF Gaming F15 (2020), 15.6-inch (39.62 c...    4 out of 5    71,990
7  HP Envy 11th Gen Core i7 Processor 13.3-inch (...  4.1 out of 5  1,09,990
8  MSI GF75 Thin, Intel i7-10750H, 17.3" (43.9 cm...  4.6 out of 5    74,990
9  ASUS TUF Dash F15 (2021), 15.6" (39.62 cms) FH...  4.6 out of 5  1,07,990

This is the required dataframe scraped using selenium.

# DONE